@charset "UTF-8";
/*!
    Theme Name: Oitavo Andar
    Theme URI: http://8andar.com.br
    Author: Cauê Almeida
    Author URI: http://cauealmeida.com/
    Description: Tema feito especialmente para o blog Oitavo Andar. Todos os direitos reservados.
    Version: 1.0
*/
@import url(http://fonts.googleapis.com/css?family=Lato:400,100,300,700,900);
@font-face {
  font-family: 'chalk-hand-lettering-shadedRg';
  src: url("/wp-content/themes/oitavo-andar/front/fonts//chalk-hand-lettering-shaded_demo-webfont.eot");
  src: url("/wp-content/themes/oitavo-andar/front/fonts//chalk-hand-lettering-shaded_demo-webfont.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/oitavo-andar/front/fonts//chalk-hand-lettering-shaded_demo-webfont.woff2") format("woff2"), url("/wp-content/themes/oitavo-andar/front/fonts//chalk-hand-lettering-shaded_demo-webfont.woff") format("woff"), url("/wp-content/themes/oitavo-andar/front/fonts//chalk-hand-lettering-shaded_demo-webfont.ttf") format("truetype"), url("/wp-content/themes/oitavo-andar/front/fonts//chalk-hand-lettering-shaded_demo-webfont.svg#chalk-hand-lettering-shadedRg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'coalhandlukecoalhandluke';
  src: url("/wp-content/themes/oitavo-andar/front/fonts//coalhandluke-webfont.eot");
  src: url("/wp-content/themes/oitavo-andar/front/fonts//coalhandluke-webfont.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/oitavo-andar/front/fonts//coalhandluke-webfont.woff2") format("woff2"), url("/wp-content/themes/oitavo-andar/front/fonts//coalhandluke-webfont.woff") format("woff"), url("/wp-content/themes/oitavo-andar/front/fonts//coalhandluke-webfont.ttf") format("truetype"), url("/wp-content/themes/oitavo-andar/front/fonts//coalhandluke-webfont.svg#coalhandlukecoalhandluke") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'multicolore_regular';
  src: url("/wp-content/themes/oitavo-andar/front/fonts//multicolore-webfont.eot");
  src: url("/wp-content/themes/oitavo-andar/front/fonts//multicolore-webfont.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/oitavo-andar/front/fonts//multicolore-webfont.woff2") format("woff2"), url("/wp-content/themes/oitavo-andar/front/fonts//multicolore-webfont.woff") format("woff"), url("/wp-content/themes/oitavo-andar/front/fonts//multicolore-webfont.ttf") format("truetype"), url("/wp-content/themes/oitavo-andar/front/fonts//multicolore-webfont.svg#multicolore_regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.normal, .main {
  float: left;
  width: 100%;
  height: auto;
}

.normal-box, .main .box {
  width: 1024px;
  margin: 0 auto;
}
@media only screen and (max-width: 1024px) {
  .normal-box, .main .box {
    width: 90%;
  }
}

.normal-second, section.related, section#all {
  float: left;
  width: 100%;
}

.back, .ico, header#header-main .ico, header#header-main nav#main-menu ul li.has-sub ul li span, header#header-main nav#main-menu ul li span.ico, header#header-main nav#main-menu div.search button.ico-search, footer#main-footer > section.all-foot form button span.ico-submit {
  background-repeat: no-repeat;
  background-image: url("/wp-content/themes/oitavo-andar/front/images/sprite.png");
}

.sizing, header#top-header, header#header-main img.logo, header#header-main nav#main-menu ul, header#header-main div.search-box, section#all .list-posts,
section#all aside#main-aside, aside#main-aside .author-description h1,
aside#main-aside .author-description p, article.normal-post div.info, footer#main-footer > section.all-foot form input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.reset-sel {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-appearance: none;
  text-indent: .01px;
  text-overflow: '';
  background-image: url("/wp-content/themes/oitavo-andar/front/images/arrow.png");
  background-position: 95% center;
  background-repeat: no-repeat;
}

.hover-instagram, aside#main-aside div.insta-posts ul li img {
  filter: brightness(80%) grayscale(1) contrast(90%);
  -webkit-filter: brightness(80%) grayscale(1) contrast(90%);
  -moz-filter: brightness(80%) grayscale(1) contrast(90%);
  -o-filter: brightness(80%) grayscale(1) contrast(90%);
  -ms-filter: brightness(80%) grayscale(1) contrast(90%);
  transition: .9s filter ease;
  -webkit-transition: 1s -webkit-filter ease;
  -moz-transition: .9s -moz-filter ease;
  -ms-transition: .9s -ms-filter ease;
  -o-transition: .9s -o-filter ease;
}
.hover-instagram:hover, aside#main-aside div.insta-posts ul li img:hover {
  filter: brightness(100%) grayscale(0);
  -webkit-filter: brightness(100%) grayscale(0);
  -moz-filter: brightness(100%) grayscale(0);
  -o-filter: brightness(100%) grayscale(0);
  -ms-filter: brightness(100%) grayscale(0);
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

html, body {
  height: 100%;
}

body {
  font: 100% Helvetica, sans-serif;
}
body:after {
  content: url("/wp-content/themes/oitavo-andar/front/images/close.png") url("/wp-content/themes/oitavo-andar/front/images/loading.gif") url("/wp-content/themes/oitavo-andar/front/images/prev.png") url("/wp-content/themes/oitavo-andar/front/images/next.png");
  display: none;
}

img {
  max-width: 100%;
  border: none;
}

img:focus,
input:focus,
textarea:focus,
select:focus,
a:focus,
button:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
figure {
  margin: 0;
}

img#wpstats {
  display: none !important;
}

.load {
  background-image: url("/wp-content/themes/oitavo-andar/front/images/loading-char.gif");
  width: 50px;
  height: 30px;
  background-size: 100%;
  font-size: 0;
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.lb-cancel {
  background: url("/wp-content/themes/oitavo-andar/front/images/loading.gif") no-repeat !important;
}

.lb-nav a.lb-prev {
  background: url("/wp-content/themes/oitavo-andar/front/images/prev.png") left 48% no-repeat !important;
}

.lb-nav a.lb-next {
  background: url("/wp-content/themes/oitavo-andar/front/images/next.png") right 48% no-repeat !important;
}

.lb-data .lb-close {
  background: url("/wp-content/themes/oitavo-andar/front/images/close.png") top right no-repeat !important;
}

section.related {
  margin: 30px 0 15px;
}

section.last h3 {
  margin-bottom: 15px;
}

.cat-link a {
  color: #fff;
}
.cat-link a:hover {
  color: #414141;
}

.single-page h2,
.single-page h3,
.single-page h4,
.single-page h5,
.single-page h6 {
  line-height: 120%;
}
.single-page ul.socials li {
  display: inline-block;
}

.flag-blue {
  background-color: #38b9b5;
}

.flag-all {
  right: 0;
  text-transform: uppercase;
  font: 18px "multicolore_regular", sans-serif;
  color: #fff;
  padding: 10px 20px;
}

.to-top {
  position: fixed;
  bottom: 20px;
  right: 50px;
  z-index: 9999;
  cursor: pointer;
  display: none;
}
@media (max-width: 480px) {
  .to-top {
    display: none !important;
  }
}
.to-top .ico-top {
  width: 73px;
  height: 72px;
  background-position: -212px -82px;
  margin: 0 auto;
}

.title-space {
  margin-bottom: 50px;
}

.title-twitter-blue {
  color: #2ca8d2;
}

.title-pattern-blue {
  color: #38b9b5;
}

.title-darkgray {
  color: #414141;
}

.all-center {
  #position: absolute;
  #top: 50%;
  display: table-cell;
  vertical-align: middle;
}

.center {
  #position: relative;
  #top: -50%;
}

.slicknav_menu {
  display: none;
  background-color: transparent;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .slicknav_menu {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .slicknav_menu {
    display: block;
  }
}
.slicknav_menu > a {
  float: left;
  margin: 0 0 5px;
}
.slicknav_menu a {
  color: #38b9b5;
}
.slicknav_menu .slicknav_btn {
  background-color: #38b9b5;
}

.btn-navigation {
  text-align: center;
}

.btn-separator {
  background-image: url("/wp-content/themes/oitavo-andar/front/images/separator.png");
  background-repeat: no-repeat;
  width: 257px;
  height: 60px;
  display: inline-block;
  padding-top: 20px;
  color: #335554;
}
.btn-separator:hover {
  color: #38b9b5;
}

.btn-all {
  font: 18px "multicolore_regular", sans-serif;
}

.ca-feedback {
  font: 14px "multicolore_regular", sans-serif;
  margin: 30px 0 0;
  color: #38b9b5;
}

.center-it {
  text-align: center;
}

.separator-big {
  background-image: url("/wp-content/themes/oitavo-andar/front/images/separator-big.png");
  background-repeat: no-repeat;
  display: inline-block;
  width: 590px;
  height: 59px;
}
@media only screen and (max-width: 590px) {
  .separator-big {
    width: 90%;
    background-size: 100%;
  }
}

.box-sep-big {
  text-align: center;
  margin: 0 0 100px;
}

.pagination,
.wp.pagenavi {
  margin: 100px 0;
  text-align: center;
}
@media only screen and (max-width: 480px) {
  .pagination > span:first-child,
  .wp.pagenavi > span:first-child {
    display: block;
  }
}
.pagination a,
.pagination span,
.wp.pagenavi a,
.wp.pagenavi span {
  display: inline-block;
  font: 20px "multicolore_regular", sans-serif;
  padding: 10px 20px;
  margin: 0 2px;
  color: #38b9b5;
}
.pagination a.current,
.pagination span.current,
.wp.pagenavi a.current,
.wp.pagenavi span.current {
  color: #fff;
  background-color: #000;
}
.pagination a:hover,
.wp.pagenavi a:hover {
  color: #fff;
  background-color: #000;
}

.ico {
  display: block;
  width: 33px;
  height: 33px;
}

.ico-tt {
  background-position: -47px -135px;
}

.ico-fb {
  background-position: -3px -135px;
}

.ico-instagram {
  background-position: -92px -135px;
}

.ico-yt {
  background-position: -135px -135px;
}

.title-chalk {
  color: #414141;
  font: 24px "chalk-hand-lettering-shadedRg", sans-serif;
}

.title-coalhand {
  font-family: "coalhandlukecoalhandluke", sans-serif;
}

.title-multicolore {
  font-family: "multicolore_regular", sans-serif;
}

header#top-header {
  display: none;
  position: fixed;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  background-color: #38b9b5;
  color: #fff;
  z-index: 9999;
}
header#top-header span,
header#top-header ul {
  display: inline-block;
  vertical-align: middle;
}
header#top-header span {
  font-size: 22px;
  cursor: pointer;
}
header#top-header ul {
  font-size: 0;
  width: calc( 100% - 30px ) !important;
  width: -webkit-calc( 100% - 30px ) !important;
  width: -moz-calc( 100% - 30px ) !important;
  text-align: right;
}
header#top-header ul li {
  display: inline-block;
  margin-right: 15px;
}
header#top-header ul li:last-child {
  margin-right: 0;
}
header#top-header .ico-twitter {
  width: 19px;
  height: 18px;
  background-position: -300px -34px;
}
header#top-header .ico-twitter:hover {
  background-position: -300px 0;
}
header#top-header .ico-fb {
  width: 8px;
  height: 20px;
  background-position: -339px -34px;
}
header#top-header .ico-fb:hover {
  background-position: -339px 0;
}
header#top-header .ico-instagram {
  width: 20px;
  height: 20px;
  background-position: -367px -34px;
}
header#top-header .ico-instagram:hover {
  background-position: -367px 0;
}
header#top-header .ico-youtube {
  width: 19px;
  height: 20px;
  background-position: -402px -34px;
}
header#top-header .ico-youtube:hover {
  background-position: -402px 0;
}

section#top-header-content {
  display: none;
  background-color: rgba(56, 185, 181, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  text-align: center;
}
section#top-header-content div.box-top {
  display: table;
  width: inherit;
  height: inherit;
}
section#top-header-content ul li {
  margin-bottom: 10px;
  display: block;
}
section#top-header-content ul li:last-child {
  margin-bottom: 0;
}
section#top-header-content ul li > ul {
  margin: 10px 0 0;
}
section#top-header-content ul li a {
  font: 20px "multicolore_regular", sans-serif;
  color: #fff;
}
section#top-header-content ul li a:hover {
  color: #414141;
}

header#header-main {
  background-image: url("/wp-content/themes/oitavo-andar/front/images/cloud.png");
  background-position: 0 -212px;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 670px) {
  header#header-main {
    background-image: none;
  }
}
header#header-main .normal-box, header#header-main .main .box, .main header#header-main .box {
  position: relative;
}
header#header-main .ico {
  display: block;
}
@media only screen and (max-width: 768px) {
  header#header-main .ico {
    display: none;
  }
}
header#header-main ul#social-header {
  font-size: 0;
  position: absolute;
  top: 10px;
  right: 18px;
}
header#header-main ul#social-header li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}
header#header-main ul#social-header li:last-child {
  margin-right: 0;
}
header#header-main .ico {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
header#header-main .ico-twitter {
  width: 19px;
  height: 18px;
  background-position: -300px 0;
}
header#header-main .ico-twitter:hover {
  background-position: -300px -34px;
}
header#header-main .ico-fb {
  width: 8px;
  height: 20px;
  background-position: -339px 0;
}
header#header-main .ico-fb:hover {
  background-position: -339px -34px;
}
header#header-main .ico-instagram {
  width: 20px;
  height: 20px;
  background-position: -367px 0;
}
header#header-main .ico-instagram:hover {
  background-position: -367px -34px;
}
header#header-main .ico-youtube {
  width: 19px;
  height: 20px;
  background-position: -402px 0;
}
header#header-main .ico-youtube:hover {
  background-position: -402px -34px;
}
header#header-main img.logo {
  display: block;
  margin: 0 auto;
  padding: 176px 0 0;
}
@media only screen and (max-width: 480px) {
  header#header-main img.logo {
    padding: 176px 10px 0;
  }
}
@media only screen and (max-width: 670px) {
  header#header-main img.logo {
    padding: 10px 20px 0;
  }
}
@media only screen and (max-width: 768px) {
  header#header-main nav#main-menu,
  header#header-main nav#responsive-menu {
    display: inline-block;
    width: 49%;
    padding: 0 !important;
    vertical-align: middle;
  }
}
header#header-main nav#main-menu {
  position: relative;
  font-size: 0;
  padding: 40px 0 20px;
  margin-bottom: 50px;
}
@media only screen and (max-width: 768px) {
  header#header-main nav#main-menu {
    text-align: right;
  }
}
header#header-main nav#main-menu ul,
header#header-main nav#main-menu div.search {
  display: inline-block;
  vertical-align: middle;
}
header#header-main nav#main-menu ul {
  width: calc( 100% - 20px ) !important;
  width: -webkit-calc( 100% - 20px ) !important;
  width: -moz-calc( 100% - 20px ) !important;
  font-size: 0;
}
@media only screen and (max-width: 768px) {
  header#header-main nav#main-menu ul {
    display: none;
  }
}
header#header-main nav#main-menu ul li {
  display: inline-block;
  font: 18px "coalhandlukecoalhandluke", sans-serif;
  margin-right: 25px;
  position: relative;
}
header#header-main nav#main-menu ul li:last-child {
  margin-right: 0;
}
header#header-main nav#main-menu ul li.has-sub ul {
  padding: 10px;
  background-color: #fff;
  display: none;
  position: absolute;
  left: 0;
  width: 200% !important;
  z-index: 9999;
}
header#header-main nav#main-menu ul li.has-sub ul li {
  display: block;
  margin-bottom: 10px;
}
header#header-main nav#main-menu ul li.has-sub ul li:last-child {
  margin-bottom: 0;
}
header#header-main nav#main-menu ul li.has-sub ul li span.ico-1st {
  margin: 0 10px 0 0;
  width: 32px;
  height: 13px;
  background-position: -29px -45px;
}
header#header-main nav#main-menu ul li.has-sub ul li span.ico-2st {
  margin: 0 14px 0 7px;
  width: 19px;
  height: 34px;
  background-position: -62px -45px;
}
header#header-main nav#main-menu ul li.has-sub ul li span.ico-3st {
  margin: 0 10px 0 0;
  width: 31px;
  height: 33px;
  background-position: -83px -45px;
}
header#header-main nav#main-menu ul li.has-sub ul li span.ico-4st {
  margin: 0 14px 0 10px;
  width: 17px;
  height: 21px;
  background-position: -115px -45px;
}
header#header-main nav#main-menu ul li.has-sub ul li span.ico-5st {
  margin: 0 16px 0 8px;
  width: 18px;
  height: 26px;
  background-position: -133px -45px;
}
header#header-main nav#main-menu ul li.has-sub ul li span.ico-6st {
  margin: 0 11px 0 3px;
  width: 27px;
  height: 25px;
  background-position: -152px -45px;
}
header#header-main nav#main-menu ul li.has-sub ul li span.ico-7st {
  margin: 0 11px 0 3px;
  width: 27px;
  height: 27px;
  background-position: -180px -45px;
}
header#header-main nav#main-menu ul li span,
header#header-main nav#main-menu ul li a {
  display: inline-block;
  vertical-align: middle;
}
header#header-main nav#main-menu ul li span.ico {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  margin-right: 10px;
}
header#header-main nav#main-menu ul li span.ico:last-child {
  margin-right: 0;
}
header#header-main nav#main-menu ul li .ico-home {
  width: 29px;
  height: 25px;
  background-position: 0 -45px;
}
header#header-main nav#main-menu ul li .ico-reception {
  width: 34px;
  height: 24px;
  background-position: -39px -180px;
}
header#header-main nav#main-menu ul li .ico-floors {
  width: 34px;
  height: 32px;
  background-position: -49px -86px;
}
header#header-main nav#main-menu ul li .ico-honey-bread {
  width: 30px;
  height: 34px;
  background-position: -92px -85px;
}
header#header-main nav#main-menu ul li .ico-contact {
  width: 31px;
  height: 20px;
  background-position: -135px -84px;
}
header#header-main nav#main-menu ul li a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  color: #414141;
}
header#header-main nav#main-menu ul li a:hover {
  color: #38b9b5;
}
header#header-main nav#main-menu div.search button.ico-search {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background-color: transparent;
  border: none;
  display: block;
  width: 20px;
  height: 20px;
  background-position: 0 -91px;
}
header#header-main nav#main-menu div.search button.ico-search:hover {
  background-position: -20px -91px;
}
header#header-main div.search-box {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 9999;
}
header#header-main div.search-box > div {
  width: inherit;
  height: inherit;
  display: table;
}
header#header-main div.search-box input,
header#header-main div.search-box button {
  font: 20px "multicolore_regular", sans-serif;
  font-weight: 100;
  border: none;
  background-color: transparent;
  padding: 0 0 5px;
}
header#header-main div.search-box input {
  color: #fff;
  border-bottom: 2px solid #38b9b5;
}
header#header-main div.search-box button {
  color: #38b9b5;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
header#header-main div.search-box button:hover {
  color: #fff;
}

div.author {
  margin: 10px 0;
}
div.author figure,
div.author div.info {
  display: inline-block;
  vertical-align: middle;
}
div.author figure img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
div.author div.info h2,
div.author div.info h2 > a,
div.author div.info span {
  font-family: "multicolore_regular", sans-serif;
}
div.author div.info h2,
div.author div.info span {
  line-height: 50%;
}
div.author div.info a {
  color: #38b9b5;
}
div.author div.info a:hover {
  color: #414141;
}
div.author div.info h2 {
  font-size: 12px;
}
div.author div.info span {
  font-size: 11px;
}

section#all .list-posts {
  float: left;
  width: 65%;
}
@media only screen and (max-width: 768px) {
  section#all .list-posts {
    width: 100%;
  }
}
section#all .list-posts div.post {
  margin-bottom: 50px;
}
section#all .list-posts div.post h1,
section#all .list-posts div.post h2,
section#all .list-posts div.post p,
section#all .list-posts div.post span {
  color: #414141;
}
section#all .list-posts div.post div.thumb {
  position: relative;
}
section#all .list-posts div.post div.thumb div.flag {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #38b9b5;
}
section#all .list-posts div.post div.thumb div.flag span {
  display: inline-block;
  padding: 10px 20px;
  font: 18px "multicolore_regular", sans-serif;
  color: #fff;
}
section#all .list-posts div.post div.description p {
  font: 14px "Lato", sans-serif;
  margin: 20px 0;
  line-height: 130%;
}
section#all .list-posts div.post footer a {
  background-image: url("/wp-content/themes/oitavo-andar/front/images/separator.png");
  background-repeat: no-repeat;
  font: 18px "multicolore_regular", sans-serif;
  color: #335554;
  display: block;
  width: 257px;
  height: 60px;
  padding: 10px 0 0 40px;
  margin-left: -30px;
}
section#all .list-posts div.post footer a:hover {
  color: #38b9b5;
}
section#all .list-posts h1 {
  font: 38px "coalhandlukecoalhandluke", sans-serif;
  line-height: 120%;
}
section#all .list-posts h1 span {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
section#all .list-posts h1 span:hover {
  color: #38b9b5 !important;
}
section#all aside#main-aside {
  float: right;
  width: 33%;
  margin-bottom: 50px;
}
@media only screen and (max-width: 768px) {
  section#all aside#main-aside {
    display: none;
  }
}

aside#main-aside {
  text-align: center;
}
aside#main-aside .youtube-box {
  display: none;
}
aside#main-aside ul li {
  display: block;
}
aside#main-aside img {
  display: block;
  margin: 0 auto;
}
aside#main-aside .item,
aside#main-aside .item-nobg {
  margin-bottom: 10px;
}
aside#main-aside .item iframe,
aside#main-aside .item-nobg iframe {
  width: 100%;
  height: 220px;
  border: none;
}
aside#main-aside .item article header,
aside#main-aside .item-nobg article header {
  margin: 0 0 10px;
}
aside#main-aside .item {
  padding: 10px 0 35px;
  background-color: #fbfbfb;
}
aside#main-aside div.insta-posts ul {
  font-size: 0;
}
aside#main-aside div.insta-posts ul li {
  width: 25%;
  display: inline-block;
}
aside#main-aside .author-description img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
aside#main-aside .author-description h1,
aside#main-aside .author-description p {
  color: #414141;
}
aside#main-aside .author-description h1 {
  font: 34px "chalk-hand-lettering-shadedRg", sans-serif;
  margin: 10px 0;
}
aside#main-aside .author-description p {
  font-size: 14px;
  padding: 0 10px;
  text-align: left;
}
aside#main-aside .author-description ul.socials {
  display: inline-block;
  margin: 30px 0 0;
}
aside#main-aside .author-description ul.socials li {
  display: inline-block;
  vertical-align: middle;
}

article.normal-post {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  height: 330px;
  margin: 0 15px 15px 0;
  overflow: hidden;
  width: calc( 50% - 8px ) !important;
  width: -webkit-calc( 50% - 8px ) !important;
  width: -moz-calc( 50% - 8px ) !important;
}
article.normal-post:nth-child(2n+1) {
  margin-right: 0;
}
article.normal-post a:hover .info {
  background-color: #38b9b5;
}
article.normal-post a:hover .flag-blue {
  background-color: transparent;
  color: #38b9b5;
}
article.normal-post img {
  max-width: none;
}
article.normal-post div.flag-blue,
article.normal-post div.info {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
article.normal-post div.flag-all,
article.normal-post div.info {
  position: absolute;
}
article.normal-post div.flag-all {
  top: 0;
  right: 0;
  padding: 10px 20px;
}
article.normal-post div.info {
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  padding: 10px;
  position: absolute;
  bottom: 0;
  color: #fff;
}
article.normal-post div.info h1 {
  font-size: 24px !important;
}

footer#main-footer {
  text-align: right;
}
footer#main-footer .load {
  margin: 0;
  left: inherit;
}
footer#main-footer .success,
footer#main-footer .error {
  font: 14px "multicolore_regular", sans-serif;
  margin: -20px 0 30px 0;
  text-align: left;
}
footer#main-footer .success {
  color: #00945e;
}
footer#main-footer .error {
  color: #cc0033;
}
footer#main-footer > section.all-foot {
  background-color: #000;
  background-image: url("/wp-content/themes/oitavo-andar/front/images/logo.png");
  background-repeat: no-repeat;
  background-position: -250px center;
  padding: 70px 0;
}
@media only screen and (max-width: 800px) {
  footer#main-footer > section.all-foot {
    background-image: none;
  }
}
footer#main-footer > section.all-foot .item {
  display: inline-block;
  vertical-align: top;
  width: 30%;
}
@media only screen and (max-width: 800px) {
  footer#main-footer > section.all-foot .item {
    width: 49%;
  }
}
@media only screen and (max-width: 600px) {
  footer#main-footer > section.all-foot .item {
    width: 100%;
  }
  footer#main-footer > section.all-foot .item:last-child {
    display: none;
  }
}
footer#main-footer > section.all-foot .item:first-child {
  margin-right: 30px;
}
@media only screen and (max-width: 800px) {
  footer#main-footer > section.all-foot .item:first-child {
    margin-right: 0;
  }
}
footer#main-footer > section.all-foot ul {
  font-size: 0;
  text-align: left;
}
@media only screen and (max-width: 768px) {
  footer#main-footer > section.all-foot ul {
    text-align: center;
  }
}
footer#main-footer > section.all-foot ul li {
  display: inline-block;
  margin-right: 5px;
}
footer#main-footer > section.all-foot ul li:last-child {
  margin-right: 0;
}
footer#main-footer > section.all-foot form {
  margin: 30px 0;
  position: relative;
}
footer#main-footer > section.all-foot form input,
footer#main-footer > section.all-foot form button {
  border: none;
}
footer#main-footer > section.all-foot form input {
  color: #414141 !important;
  -moz-opacity: 1;
  -webkit-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
  width: 100%;
  padding: 10px 15px;
  font: 14px "multicolore_regular", sans-serif;
}
footer#main-footer > section.all-foot form input::-webkit-input-placeholder {
  color: #414141;
}
footer#main-footer > section.all-foot form input:-moz-placeholder {
  color: #414141;
}
footer#main-footer > section.all-foot form input::-moz-placeholder {
  color: #414141;
}
footer#main-footer > section.all-foot form input:-ms-input-placeholder {
  color: #414141;
}
footer#main-footer > section.all-foot form button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #414141;
  width: 55px;
  height: 100%;
}
footer#main-footer > section.all-foot form button:hover {
  background-color: #38b9b5;
}
footer#main-footer > section.all-foot form button span {
  display: block;
}
footer#main-footer > section.all-foot form button span.ico-submit {
  width: 21px;
  height: 21px;
  background-position: 0 -183px;
  margin: 0 auto;
}
footer#main-footer > section.all-foot h2 {
  font: 44px "chalk-hand-lettering-shadedRg", sans-serif;
  color: #fff;
  line-height: 130%;
}
footer#main-footer > section.all-foot h2 span {
  display: block;
  text-align: left;
}
@media only screen and (max-width: 768px) {
  footer#main-footer section#by {
    text-align: center;
  }
}
footer#main-footer section#by a {
  color: #38b9b5;
}
footer#main-footer section#by a:hover {
  color: #414141;
}
footer#main-footer section#by p {
  font: 11px "Lato", sans-serif;
  font-weight: 100;
  color: #414141;
  text-transform: uppercase;
}
footer#main-footer section#by p > span {
  background-image: url("/wp-content/themes/oitavo-andar/front/images/icons.gif");
  background-size: 30px;
  display: inline-block;
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
}

/*# sourceMappingURL=style.css.map */
