// Imports
    @import 'modules/_all';
// END Imports

#error {
  h1 {
    font-size: 50px !important;
    margin-bottom: 10px;
  }

  h2,
  h3 {
    font-family: $multicolore;
    color: $dark-gray;
    margin-bottom: 5px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 14px;
  }

  div.error-form {
    input,
    button {
      @include fade;
      display: inline-block;
      border: none;
      @extend .sizing;
      color: $white;
      font: 12px $multicolore;
    }

    input {
      padding: 10px;
      margin-bottom: 5px;
      background-color: $twitter-blue;
      @include placeholder_color($white);
      @include any('opacity' , '1');

      &:focus {
        background-color: $pattern-blue;
      }
    }

    button {
      padding: 10px 20px;
      background-color: $dark-gray;

        &:hover {
          background-color: $pattern-blue;
        }
    }
  } // div.error-form


} // error
