/*!
    Theme Name: Oitavo Andar
    Theme URI: http://8andar.com.br
    Author: Cauê Almeida
    Author URI: http://cauealmeida.com/
    Description: Tema feito especialmente para o blog Oitavo Andar. Todos os direitos reservados.
    Version: 1.0
*/

// Imports
    @import 'modules/_all';
// END Imports

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

a,
button {
    cursor: pointer;
    @include fade;
}

html, body {
    height: 100%;
}

body {
    font: 100% $font;

    &:after {
      content: $close $loading $prev $next;
      display: none;
    }
}

img {
    max-width: 100%;
    border: none;
}

img:focus,
input:focus,
textarea:focus,
select:focus,
a:focus,
button:focus {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
figure {
  margin: 0;
}

img#wpstats{
  display: none !important;
}

.load {
  background-image: $loading-char;
  width: 50px;
  height: 30px;
  background-size: 100%;
  font-size: 0;
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

// lightbox
  .lb-cancel {
    background: $loading no-repeat !important;
  }

  .lb-nav a.lb-prev {
    background: $prev left 48% no-repeat !important;
  }

  .lb-nav a.lb-next {

    background: $next right 48% no-repeat !important;
  }

  .lb-data .lb-close {
    background: $close top right no-repeat !important;
  }
// end lightbox

section.related {
  @extend .normal-second;
  margin: 30px 0 15px;
}

section.last {
  h3 {
    margin-bottom: 15px;
  }
}

.cat-link a {
  color: $white;

  &:hover {
    color: $dark-gray;
  }
}

.single-page {
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 120%;
  }

  ul.socials li {
    display: inline-block;
  }
}

.flag-blue {
  background-color: $pattern-blue;
}

.flag-all {
  right: 0;
  text-transform: uppercase;
  font: 18px $multicolore;
  color: $white;
  padding: 10px 20px;
}

.to-top {
  position: fixed;
  bottom: 20px;
  right: 50px;
  z-index: 9999;
  cursor: pointer;
  display: none;

    @media (max-width: $mobile) {
      display: none !important;
    }

  .ico-top {
    width: 73px;
    height: 72px;
    background-position: -212px -82px;
    margin: 0 auto;
  }
}

.title-space {
  margin-bottom: 50px;
}

.title-twitter-blue {
  color: $twitter-blue;
}

.title-pattern-blue {
  color: $pattern-blue;
}

.title-darkgray {
  color: $dark-gray;
}

.main {
    @extend .normal;
    .box {
        @extend .normal-box;
    }
}

.all-center {
    #position: absolute;
    #top: 50%;
    display: table-cell;
    vertical-align: middle;
}

.center {
    #position: relative;
    #top: -50%;
}

.slicknav_menu {
    display: none;
    background-color: $transparent;
    padding: 0;

      @media screen and (min-width: $tablet) {
          display: none;
      }

      @media screen and (max-width: $tablet) {
          display: block;
      }

    & > a {
      float: left;
      margin: 0 0 5px;
    }

    a {
      color: $pattern-blue;
    }

    .slicknav_btn {
      background-color: $pattern-blue;
    }
}

.btn-navigation {
  text-align: center;
}

.btn-separator {
  background-image: $separator;
  background-repeat: no-repeat;
  width: 257px;
  height: 60px;
  display: inline-block;
  padding-top: 20px;

  color: $dark-blue;

  &:hover {
    color: $pattern-blue;
  }

}

.btn-all {
  font: 18px $multicolore;
}

.ca-feedback {
  font: 14px $multicolore;
  margin: 30px 0 0;
  color: $pattern-blue;
}

.center-it {
  text-align: center;
}

.separator-big {
  background-image: $separator-big;
  background-repeat: no-repeat;
  display: inline-block;
  width: 590px;
  height: 59px;

    @media only screen and (max-width: 590px) {
      width: 90%;
      background-size: 100%;
    }
}

.box-sep-big {
  text-align: center;
  margin: 0 0 100px;
}

.pagination,
.wp.pagenavi {
  margin: 100px 0;
  text-align: center;

  & > span:first-child {
    @media only screen and (max-width: $mobile) {
      display: block;
    }
  }

  a,
  span {
    display: inline-block;
    font: 20px $multicolore;
    padding: 10px 20px;
    margin: 0 2px;

    color: $pattern-blue;

    &.current {
      color: $white;
      background-color: $black;
    }
  }

  a:hover {
    color: $white;
    background-color: $black;
  }

} // pagination

// icons
  .ico {
    @extend .back;
    display: block;
    width: 33px;
    height: 33px;
  }

  .ico-tt {
    background-position: -47px -135px;
  }

  .ico-fb {
    background-position: -3px -135px;
  }

  .ico-instagram {
    background-position: -92px -135px;
  }

  .ico-yt {
    background-position: -135px -135px;
  }
// end icons

// titles
  .title-chalk {
    color: $dark-gray;
    font: 24px $chalk;
  }

  .title-coalhand {
    font-family: $coalhand;
  }

  .title-multicolore {
    font-family: $multicolore;
  }
// end titles

// header menu
  header#top-header {
    display: none;
    position: fixed;
    left: 0;
    width: 100%;
    @extend .sizing;
    padding: 10px 20px;
    background-color: $pattern-blue;
    color: $white;
    z-index: 9999;

    span,
    ul {
      display: inline-block;
      vertical-align: middle;
    }

    span {
      font-size: 22px;
      cursor: pointer;
    }

    ul {
      font-size: 0;
      @include calcWidth('100% - 30px');
      text-align: right;

      li {
        display: inline-block;
        margin-right: 15px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .ico-twitter {
      width: 19px;
      height: 18px;
      background-position: -300px -34px;

      &:hover {
        background-position: -300px 0;
      }
    }

    .ico-fb {
      width: 8px;
      height: 20px;
      background-position: -339px -34px;

      &:hover {
        background-position: -339px 0;
      }
    }

    .ico-instagram {
      width: 20px;
      height: 20px;
      background-position: -367px -34px;

      &:hover {
        background-position: -367px 0;
      }
    }

    .ico-youtube {
      width: 19px;
      height: 20px;
      background-position: -402px -34px;

      &:hover {
        background-position: -402px 0;
      }
    }

  } // header#top-header

  section#top-header-content {
    display: none;
    background-color: $pattern-blue-opace;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    text-align: center;

    div.box-top {
      display: table;
      width: inherit;
      height: inherit;
    }

    ul {
      li {
        margin-bottom: 10px;
        display: block;

        &:last-child {
          margin-bottom: 0;
        }

        & > ul {
          margin: 10px 0 0;
        }

        a {
          font: 20px $multicolore;
          color: $white;

          &:hover {
            color: $dark-gray;
          }
        }
      }
    }

  } // section#top-header-content

// header-main
  header#header-main {
    // height: 152px;
    background-image: $header-cloud;
    background-position: 0 -212px;
    background-repeat: no-repeat;

      @media only screen and (max-width: 670px) {
        background-image: none;
      }

    .normal-box {
      position: relative;
    }

    .ico {
      display: block;
      @extend .back;

        @media only screen and (max-width: $tablet) {
          display: none;
        }
    }

    ul#social-header {
      font-size: 0;
      // float: right;
      // padding: 10px 18px 0 0;
      position: absolute;
      top: 10px;
      right: 18px;

      li {
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;

          &:last-child {
            margin-right: 0;
          }
      }
    }

    .ico {
      @include fade;
    }

    .ico-twitter {
      width: 19px;
      height: 18px;
      background-position: -300px 0;

      &:hover {
        background-position: -300px -34px;
      }
    }

    .ico-fb {
      width: 8px;
      height: 20px;
      background-position: -339px 0;

      &:hover {
        background-position: -339px -34px;
      }
    }

    .ico-instagram {
      width: 20px;
      height: 20px;
      background-position: -367px 0;

      &:hover {
        background-position: -367px -34px;
      }
    }

    .ico-youtube {
      width: 19px;
      height: 20px;
      background-position: -402px 0;

      &:hover {
        background-position: -402px -34px;
      }
    }

    img.logo {
      @extend .sizing;
      display: block;
      margin: 0 auto;
      padding: 176px 0 0;

        @media only screen and (max-width: $mobile) {
          padding: 176px 10px 0;
        }

        @media only screen and (max-width: 670px) {
          padding: 10px 20px 0;
        }
    } // img.logo

    nav#main-menu,
    nav#responsive-menu {
      @media only screen and (max-width: $tablet) {
        display: inline-block;
        width: 49%;
        padding: 0 !important;
        vertical-align: middle;
      }
    }

    nav#main-menu {
      position: relative;
      font-size: 0;
      padding: 40px 0 20px;
      margin-bottom: 50px;

        @media only screen and (max-width: $tablet) {
          text-align: right;
        }

      ul,
      div.search {
        display: inline-block;
        vertical-align: middle;
      }

      ul {
        @include calcWidth('100% - 20px');
        font-size: 0;
        @extend .sizing;

          @media only screen and (max-width: $tablet) {
            display: none;
          }

        li {
          display: inline-block;
          font: 18px $coalhand;
          margin-right: 25px;
          position: relative;

            &:last-child {
              margin-right: 0;
            }

          &.has-sub {
            ul {
              padding: 10px;
              background-color: $white;
              display: none;
              position: absolute;
              left: 0;
              width: 200% !important;
              z-index: 9999;

              // background-color: orange;

              li {
                display: block;
                margin-bottom: 10px;

                  &:last-child {
                    margin-bottom: 0;
                  }

                span {
                  @extend .back;

                  &.ico-1st {
                    margin: 0 10px 0 0;
                    width: 32px;
                    height: 13px;
                    background-position: -29px -45px;
                  }

                  &.ico-2st {
                    margin: 0 14px 0 7px;
                    width: 19px;
                    height: 34px;
                    background-position: -62px -45px;
                  }

                  &.ico-3st {
                    margin: 0 10px 0 0;
                    width: 31px;
                    height: 33px;
                    background-position: -83px -45px;
                  }

                  &.ico-4st {
                    margin: 0 14px 0 10px;
                    width: 17px;
                    height: 21px;
                    background-position: -115px -45px;
                  }

                  &.ico-5st {
                    margin: 0 16px 0 8px;
                    width: 18px;
                    height: 26px;
                    background-position: -133px -45px;
                  }

                  &.ico-6st {
                    margin: 0 11px 0 3px;
                    width: 27px;
                    height: 25px;
                    background-position: -152px -45px;
                  }

                  &.ico-7st {
                    margin: 0 11px 0 3px;
                    width: 27px;
                    height: 27px;
                    background-position: -180px -45px;
                  }
                }
              }
            }
          }

          span,
          a {
            display: inline-block;
            vertical-align: middle;
          }

          span.ico {
            @extend .back;
            @include fade;
            margin-right: 10px;

            &:last-child {
              margin-right: 0;
            }
          }

          .ico-home {
            width: 29px;
            height: 25px;
            background-position: 0 -45px;
          }

          .ico-reception {
            width: 34px;
            height: 24px;
            background-position: -39px -180px;
          }

          .ico-floors {
            width: 34px;
            height: 32px;
            background-position: -49px -86px;
          }

          .ico-honey-bread {
            width: 30px;
            height: 34px;
            background-position: -92px -85px;
          }

          .ico-contact {
            width: 31px;
            height: 20px;
            background-position: -135px -84px;
          }

          a {
            @include fade;
            color: $dark-gray;

            &:hover {
              color: $pattern-blue;
            }

          }

        }
      } // ul

      div.search {
        button.ico-search {
          @include fade;
          @extend .back;
          background-color: $transparent;
          border: none;
          display: block;
          width: 20px;
          height: 20px;
          background-position: 0 -91px;

          &:hover {
            background-position: -20px -91px;
          }
        }
      }

    } // main-menu

    div.search-box {
      display: none;
      position: fixed;
      @extend .sizing;
      background-color: $black-opace;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      z-index: 9999;

      & > div {
        width: inherit;
        height: inherit;
        display: table;
      }

      input,
      button {
        // display: block;
        font: 20px $multicolore;
        font-weight: 100;
        border: none;
        background-color: $transparent;
        padding: 0 0 5px;
      }

      input {
        color: $white;
        border-bottom: 2px solid $pattern-blue;
      }

      button {
        color: $pattern-blue;

        @include fade;

        &:hover {
          color: $white;
        }
      }

    }


  } // header-main

  div.author {
    margin: 10px 0;

    figure,
    div.info {
      display: inline-block;
      vertical-align: middle;
    }

    figure img {
      @include border-radius(50%);
    }

    div.info {
      h2,
      h2 > a,
      span {
        font-family: $multicolore;
      }

      h2,
      span {
        line-height: 50%;
      }

      a {
        color: $pattern-blue;

        &:hover {
          color: $dark-gray;
        }
      }

      h2 {
        font-size: 12px;
      }

      span {
        font-size: 11px;
      }

    } // div.info

  } // author

  section#all {
    @extend .normal-second;

    .list-posts,
    aside#main-aside {
      @extend .sizing;

      // border: 1px solid orange;
    }

    .list-posts {
      float: left;
      width: 65%;

        @media only screen and (max-width: $tablet) {
          width: 100%;
        }

      div.post {
        margin-bottom: 50px;

        h1,
        h2,
        p,
        span {
          color: $dark-gray;
        }

        div.thumb {
          position: relative;

          div.flag {
            position: absolute;
            right: 0;
            top: 0;
            background-color: $pattern-blue;

            span {
              display: inline-block;
              padding: 10px 20px;
              font: 18px $multicolore;
              color: $white;
            }
          }
        } // thumb

        div.description {
          p {
            font: 14px $lato;
            margin: 20px 0;
            line-height: 130%;
          }
        }

        footer {
          a {
            background-image: $separator;
            background-repeat: no-repeat;
            font: 18px $multicolore;
            color: $dark-blue;
            display: block;
            width: 257px;
            height: 60px;
            padding: 10px 0 0 40px;
            margin-left: -30px;

            &:hover {
              color: $pattern-blue;
            }
          }
        }

      } // post

      h1 {
        font: 38px $coalhand;
        line-height: 120%;

        span {
          @include fade;

          &:hover {
            color: $pattern-blue !important;
          }
        }
      }


    } // list-posts

    aside#main-aside {
      float: right;
      width: 33%;
      margin-bottom: 50px;

        @media only screen and (max-width: $tablet) {
          display: none;
        }
    }

  } // section#all

  aside#main-aside {
    text-align: center;

    .youtube-box {
      display: none;
    }

    ul li {
      display: block;
    }

    img {
      display: block;
      margin: 0 auto;
    }

    .item,
    .item-nobg {
      margin-bottom: 10px;

      iframe {
        width: 100%;
        height: 220px;
        border: none;
      }

      article header {
        margin: 0 0 10px;
      }

    }

    .item {
      padding: 10px 0 35px;
      background-color: $light-gray;
    }

    div.insta-posts {
      ul {
        font-size: 0;

        li {
          width: 25%;
          display: inline-block;

          img {
            @extend .hover-instagram;
          }
        }
      }
    }

    .author-description {
      img {
        @include border-radius(50%);
      }

      h1,
      p {
        color: $dark-gray;
        @extend .sizing;
      }

      h1 {
        font: 34px $chalk;
        margin: 10px 0;
      }

      p {
        font-size: 14px;
        padding: 0 10px;
        text-align: left;
      }

      ul.socials {
        display: inline-block;
        margin: 30px 0 0;

        li {
          display: inline-block;
          vertical-align: middle;
        }
      }

    } // author-description

  }

article.normal-post {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  height: 330px;
  margin: 0 15px 15px 0;
  overflow: hidden;
  @include calcWidth('50% - 8px'); // 15px why not?

  &:nth-child(2n+1) {
    margin-right: 0;
  }

  a:hover {
    .info {
      background-color: $pattern-blue;
    }

    .flag-blue {
      background-color: $transparent;
      color: $pattern-blue;
    }
  }

  img {
    max-width: none;
  }

  div.flag-blue,
  div.info {
    @include fade;
  }

  div.flag-all,
  div.info {
    position: absolute;
  }

  div.flag-all {
    top: 0;
    right: 0;
    padding: 10px 20px;
  }

  div.info {
    @extend .sizing;
    background-color: $black-opace;
    width: 100%;
    padding: 10px;
    position: absolute;
    bottom: 0;
    color: $white;

    h1 {
      font-size: 24px !important;
    }

  }

} // article.normal-post

footer#main-footer {
  text-align: right;

  .load {
    margin: 0;
    left: inherit;
  }

  .success,
  .error {
    font: 14px $multicolore;
    margin: -20px 0 30px 0;
    text-align: left;
  }

  .success {
    color: $green;
  }

  .error {
    color: $red-blood;
  }

  & > section.all-foot {
    background-color: $black;
    background-image: $logo;
    background-repeat: no-repeat;
    background-position: -250px center;
    padding: 70px 0; // 40px 0

      @media only screen and (max-width: 800px) {
        background-image: none;
      }

    .item {
        display: inline-block;
        vertical-align: top;
        width: 30%;

          @media only screen and (max-width: 800px) {
            width: 49%;
          }

          @media only screen and (max-width: 600px) {
            width: 100%;

            &:last-child {
              display: none;
            }
          }

        &:first-child {
          margin-right: 30px;

          @media only screen and (max-width: 800px) {
            margin-right: 0;
          }
        }
    }

    ul {
      font-size: 0;
      text-align: left;

        @media only screen and (max-width: $tablet) {
          text-align: center;
        }

      li {
        display: inline-block;
        margin-right: 5px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    form {
      margin: 30px 0;
      position: relative;

      input,
      button {
        border: none;
      }

      input {
        @include placeholder_color($dark-gray);
        @include any('opacity' , '1');
        @extend .sizing;
        width: 100%;
        padding: 10px 15px;
        // margin: 25px 0;
        font: 14px $multicolore;
      }

      button {
        position: absolute;
        top: 0;
        right: 0;
        background-color: $dark-gray;
        width: 55px;
        height: 100%;

        &:hover {
          background-color: $pattern-blue;
        }

        span {
          display: block;

          &.ico-submit {
            @extend .back;
            width: 21px;
            height: 21px;
            background-position: 0 -183px;
            margin: 0 auto;
          }
        }

      }
    }

    h2 {
      font: 44px $chalk;
      color: $white;
      line-height: 130%;

      span {
        display: block;
        text-align: left;
      }
    }

  }

  section#by {
    @media only screen and (max-width: $tablet) {
      text-align: center;
    }

    a {
      color: $pattern-blue;

      &:hover {
        color: $dark-gray;
      }
    }

    p {
      font: 11px $lato;
      font-weight: 100;
      color: $dark-gray;
      text-transform: uppercase;
    }

    p > span {
      background-image: $icons;
      background-size: 30px;
      display: inline-block;
      width: 30px;
      height: 30px;
      display: inline-block;
      vertical-align: middle;
    }
  }

}
