// Imports
    @import 'modules/_all';
// END Imports

#archive {
  h1.title {
    font-size: 38px;
    text-align: center;
    margin: 50px 0;
    color: $dark-gray;
  }

  div.posts {
    font-size: 0;
    margin-bottom: 80px;

    article {
      position: relative;
      display: inline-block;
      vertical-align: top;
      @extend .sizing;
      font-size: 16px;
      @include calcWidth('33.3333% - 10px');
      height: 330px;
      margin: 0 15px 15px 0;
      overflow: hidden;

        @media only screen and (max-width: $tablet) {
          @include calcWidth('50% - 10px');
        }

        @media only screen and (max-width: $mobile) {
          @include calcWidth('100%');
          margin-right: 0;
        }

      &:nth-child(3n+3) {
        margin-right: 0;

          @media only screen and (max-width: $tablet) {
            margin-right: 15px;
          }

          @media only screen and (max-width: $mobile) {
            margin-right: 0;
          }
      }

      &:nth-child(2n+2) {
          @media only screen and (max-width: $tablet) {
            margin-right: 0;
          }
      }

      a:hover {
        footer.info {
          background-color: $pattern-blue;
        }
      }

      img {
        display: block;
        max-width: none;
      }

      header {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px 20px;
      }

      footer.info {
        @extend .sizing;
        @include fade;
        background-color: $black-opace;
        width: 100%;
        padding: 10px;
        position: absolute;
        bottom: 0;
        color: #fff;
      }

      h1 {
        font-size: 20px;
        color: $white;
        line-height: 140%;
      }

      header {

      }

    } // article
  } // div.posts

  .author {
    margin: 0 0 100px;

    .thumb,
    .info,
    ul li {
      display: inline-block;
      vertical-align: top;
    }

    .thumb {
      @media only screen and (max-width: $mobile) {
        width: 100%;
        text-align: center;
      }
    }

    img {
      @include border-radius(50%);
    }

    .info {
      @include calcWidth('100% - 185px');
      @extend .sizing;
      text-align: left;
      padding: 0 0 0 20px;

        @media only screen and (max-width: $mobile) {
          @include calcWidth('100%');
          padding: 0;
        }

      h1 {
        margin: 0;
        text-align: inherit;
      }

      h2 {
        color: $dark-gray;
        font: 14px $lato;
        width: 80%;

          @media only screen and (max-width: $mobile) {
            width: 100%;
          }
      }

      ul {
        margin-top: 20px;
      }
    }

  }

}
