// Imports
    @import 'modules/_all';
// END Imports

.contact {
  .post-content {
    p {
      word-break: break-word;
    }
  }

  #contact-form {
    form#form-contact {
      position: relative;

      .load {
        margin: 0;
        right: inherit;
      }

      .ca-has-error {
        border-color: red !important;
      }

      input,
      textarea,
      button {
        border: 1px solid;
        border-color: transparent;
        color: $white;
        padding: 10px 20px 10px 10px;
        display: block;
        margin-bottom: 5px;
      }

      input,
      textarea {
        @extend .sizing;
        @include fade;
        @include any('opacity' , '1');
        @include placeholder_color($white);
        background-color: $twitter-blue;
        font: 14px $multicolore;

        &:focus {
          background-color: $pattern-blue;
        }
      }

      input {
        width: 40%;

          @media (max-width: $mobile) {
            width: 100%;
          }
      }

      textarea {
        width: 60%;
        height: 150px;

          @media (max-width: $mobile) {
            width: 100%;
          }
      }

      button {
        background-color: $dark-gray;
        padding: 10px 20px;

        &:hover {
          background-color: $pattern-blue;
        }
      }

      .error,
      .success {
        background-repeat: no-repeat;
        background-position: left center;
        height: 30px;
        @extend .sizing;
        padding-left: 30px;
        font: 12px $multicolore;
        position: relative;
        margin: 30px 0;

        .messages > span {
          display: block;
        }

        span.signal {
          @extend .back;
          position: absolute;
          top: -4px;
          left: 6px;
        }
      }

      .signal-red {
        width: 18px;
        height: 19px;
        background-position: -388px -432px;
      }

      .signal-green {
        width: 21px;
        height: 18px;
        background-position: -386px -458px;
      }

      .error {
        color: $red-blood;
        background-image: $error-icon;
      }

      .success {
        color: $green;
        background-image: $success-icon;
        padding-top: 10px;
      }

    }
  }

}
