// Imports
    @import 'modules/_all';
// END Imports

#home {
  section#all {
    padding: 180px 0 0 0;
  }

  header#banner {
    font-size: 0;

    .item {
      display: inline-block;
      vertical-align: middle;
      // width: 50%;
      @include calcWidth('50% - 15px');
      font-size: 12px;
      @extend .sizing;
      // padding: 0 15px;

        &:first-child {
          margin-right: 30px;
        }

        @media only screen and (max-width: 540px) {
          @include calcWidth('100%');
          padding: 0;

          &:first-child {
            margin-bottom: 30px;
            margin-right: 0;
          }
        }

      article {
        position: relative;
        overflow: hidden;

          &:first-child {
            margin-bottom: 30px;
          }

          &.bigger {
            height: 350px;
              @media only screen and (max-width: $tablet) {
                height: auto;
              }
          }

          &.smallest {
            height: 320px;
              @media only screen and (max-width: $tablet) {
                height: auto;
              }
          }

        & > a {
          display: block;

          &:hover {
            div.info {
              background-color: $pattern-blue;
            }

            div.flag {
              background-color: $transparent;
              color: $pattern-blue;
            }
          }
        }

        div.flag,
        div.info {
          @include fade;
          position: absolute;
        }

        div.flag {
          right: 0;
          text-transform: uppercase;
          font: 18px $multicolore;
          color: $white;
          padding: 10px 20px;
        }

        .cat-blue {
          background-color: $pattern-blue;
        }

        div.info {
          @extend .sizing;
          width: 100%;
          padding: 10px;
          bottom: 0;
          background-color: $black-opace;
          font: 12px $coalhand;
          color: $white;
        }

      }

    }
  } // header#banner

  aside div.insta-posts {
    display: none;
  }

  section#instagram {
    display: none;

    .insta-bye {
      display: none !important;
    }

    header {
      text-align: center;
    }

    h1 {
      font-size: 54px;
      line-height: 100%;
      margin: 30px 0;
      display: inline-block;
      position: relative;

      span {
        display: block;
      }
    }

    span.insta-bg {
      position: absolute;
      left: -50px;
      @include calc('top' , '50% - (33px / 2)');
    }

    ul {
      font-size: 0;

      li {
        display: inline-block;
        vertical-align: middle;
        width: 25%;

        @media only screen and (max-width: $tablet) {
          width: 50%;
        }

        @media only screen and (max-width: $mobile) {
          width: 100%;
        }

        &.insta-out {
          @media only screen and (max-width: $mobile) {
            display: none;
          }
        }

      }
    }

    figure img {
      @extend .hover-instagram;
    }

  } // section#instagram

}
