// Imports
    @import 'modules/_all';
// END Imports

#honey {

  form#honey-form {
    position: relative;
  }

  .form-messages {
    font: 12px $multicolore;
  }

  .success {
    color: $green;
  }

  .error {
    color: $red-blood;
  }

  main.honey-banner {
    @extend .normal-second;
    margin-bottom: 50px;
    height: 390px;
    display: table;
    background-image: $honey-banner;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;
    font: 30px $lato;
    font-weight: 100;
    text-align: center;

    h1  {
      font-weight: 100;

      & > span {
        display: block;
      }
    }
  } // main.honey-banner

  article {
    @extend .normal-second;
    @extend .sizing;
    padding: 0 50px 20px;
    background-repeat: no-repeat;

      @media only screen and (max-width: $tablet) {
        padding: 0 20px 20px;
      }

      @media only screen and (max-width: $tablet) {
        height: auto !important;
        background-image: none !important;
      }

    .item {
      font: 18px $lato;
      color: $dark-gray;
      font-weight: 100;

        @media only screen and (max-width: $tablet) {
          padding: 0 !important;
          width: 100% !important;
        }
    }

    .item-left {
      float: left;
    }

    .item-right {
      float: right;
    }

    p {
      display: block;
      margin-bottom: 20px;
    }

    &.honey-first {
      background-image: $honey-01;
      background-position: 10% center;
      height: 240px;
      background-size: 20%;
      padding-top: 25px;

      .item {
        width: 60%;
        padding-right: 10%;
      }
    } // honey-first

    &.honey-second {
      background-image: $honey-02;
      background-size: 41%;
      background-position: 120% center;
      height: 500px;

      .item {
        width: 70%;
        padding-top: 5%;
      }
    } // honey-second

    &.honey-third {
      background-image: $honey-03;
      background-size: 55%;
      background-position: -25% center;
      height: 450px;

      .item {
        width: 55%;
        padding-top: 5%;
      }

      button {
        @extend .sizing;
        color: $white;
        font: 20px $multicolore;
        padding: 10px 30px;
        background-color: $brown;
        border: 0;

        &:hover {
          background-color: $dark-brown;
        }
      }
    } // honey-third

  } // article

  section#honey-contact {
    z-index: 9999;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $black-opace;
    width: 100%;
    height: 100%;
    text-align: center;

    h3 {
      color: $white;
      font-size: 40px;
    }

    article {
      width: inherit;
      height: inherit;
      display: table;
    }

    .box-hcontact {
      min-height: 220px;
      @extend .sizing;
      margin: 0 auto;
      background-color: $some-gray;
      width: 90%;
      padding: 50px 30px;
      background-image: $cupcake;
      background-repeat: no-repeat;
      background-position: 95% center;

        @media (min-width: $large) {
          width: 680px;
        }

      .answer {
        margin: 10px 0;
      }

      label {
        font-size: 13px;
      }

      input,
      button {
        font: 13px $multicolore;
        @include fade;
        border: 0;
      }

      input[type=text],
      input[type=email] {
        @extend .sizing;
        @include placeholder_color($black);
        @include any('opacity' , '1');
        padding: 5px 10px;
        margin: 5px 0;

        &:focus {
          background-color: $pattern-blue;
        }

        &#user_name {
          padding: 5px;
          text-align: center;
          display: block;
          margin: 0 auto 20px;
        }

        &#user_email,
        &#user_phone {
          display: none;
        }
      }

      button {
        background-color: $transparent;
        padding: 10px 0;

        &:hover {
          color: $dark-gray;
        }
      }
    }
  } // section#honey-contact

}
