// Imports
    @import 'modules/_all';
// END Imports

#search {

  article.normal-post {
    @media (max-width: $mobile) {
      @include calcWidth('100%');
      margin-right: 0 !important;
    }
  }

  article.normal-post:nth-child(2n+1) {
    // margin-right: 15px !important;
  }

  article.normal-post:nth-child(2n+2) {
    // margin-right: 0 !important;
  }

  .search-result {
    color: $pattern-blue;
  }

  .normal-box {
    font-size: 0;
  }

  h1 {
    // margin: 50px 0;
  }

  .no-results {
    p {
      font: 18px $multicolore;
      color: $pattern-blue;
      margin: 5px 0;
    }

    form {
      input,
      button {
        @include any('opacity' , '1');
        @include placeholder_color($white);
        @include fade;
        color: $white;
        font: 15px $multicolore;
        border: none;
        padding: 15px 20px;

        &:focus {
          background-color: $dark-gray;
        }
      }

      input {
        background-color: $pattern-blue;
        margin-right: 5px;
      }

      button {
        background-color: $dark-gray;

        &:hover {
          background-color: $pattern-blue;
        }
      }

    } // form

  }

}
