// Imports
    @import 'modules/_all';
// END Imports

#single {

.post-content img {height: auto}

  .c-author-post {
    margin-bottom: 50px;
  }

  .c-author-info {
    padding-left: 10px;
    margin-bottom: 0 !important;

    h2 {
      margin: 10px 0;
    }
  }

  .fb-comments {
    @media (max-width: $mobile) {
      display: none;
    }
  }

  section#all .list-posts {
    margin-bottom: 50px;
  }

  h3.simple-title {
    font-size: 26px;
    color: $dark-gray;
  }

  article {
    // width: 100%;

    &#post {

      .post-content {
        margin-bottom: 50px;

        & > * {
          margin: 10px 0 20px;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          font-family: $coalhand;
          color: $dark-gray;
          line-height: 120%;
        }

        iframe {
          width: 100%;
          height: 30vw;
          border: none;

            @media only screen and (max-width: $tablet) {
              height: 50vw;
            }
        }

        p {
          font: 14px $lato;
          color: $dark-gray;
          line-height: 130%;

          a {
            font: 12px $multicolore;
            color: $pattern-blue;

            &:hover {
              color: $dark-gray;
            }
          }
        }

      }
    }

    .author {
      section {
        font-size: 0;
      }

      h2 {
        // font: 13px $lato;
        line-height: 120%;
        // margin: 10px 0;
        color: $dark-gray;
      }

      ul li {
        display: inline-block;
      }

      .thumb,
      .info {
        @extend .sizing;
        display: inline-block;
      }

      .thumb {
        @media only screen and (max-width: $mobile) {
          width: 100%;
          text-align: center;
        }
      }

      .info {
        // padding-left: 10px;
        font-size: 12px;
        @include calcWidth('100% - 175px');

          @media only screen and (max-width: $mobile) {
            @include calcWidth('100%');
          }
      }
    }

  } // article

  article.normal-post {
    @include calcWidth('50% - 13px');
    margin-right: 20px;

      @media only screen and (max-width: $mobile) {
        @include calcWidth('100%');
        margin-right: 0;
      }

    &:last-child {
      margin-right: 0;
    }

    .info {
      @extend .sizing;
    }
  }

  .comment-subscription-form .subscribe-label {
    display: inline !important;
    font: 10px $multicolore;
  }

  // wp responses
    cite {
      font-style: normal;
      color: $twitter-blue;
    }

    ol.commentlist {
      @extend .normal-second;
      margin: 50px 0 30px;
      list-style-position: inside;
      list-style: none;

      & > li {
        margin-bottom: 30px;
      }

      ul.children {
        list-style: inherit;
        margin: 10px;
      }

      img {
        @include border-radius(50%);
      }

      .commentmetadata {
        margin-bottom: 10px;
      }

      .reply {
        margin-top: 10px;
      }

      p {
        color: $dark-gray;
        font: 12px $lato;
      }

      a {
        font: 12px $multicolore;
        color: $twitter-blue;

        &:hover {
          color: $dark-gray;
        }
      }

      .comment-author.vcard {
        font: 13px $multicolore;

        & > * {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  // end wp responses

  // form stuffs
  .comment-awaiting-moderation {
    display: block;
    color: $light-gray-2;
    font: 13px $multicolore;
    margin: 20px 0 0;
  }

  h3#comments {
    display: none;
  }

  section.comments,
  div#respond {
    @extend .normal-second;
  }

  section.comments {
    margin-top: 50px;
  }

  div#respond {
    margin-top: 50px;

    & > h3 {
      font: 24px $multicolore;
      margin: 0 0 20px;
      color: $dark-gray;
    }
  }

  form#commentform {
    @extend .normal-second;
    display: none;

    & > p:first-child {
      margin: 5px 0;
      font: 12px $multicolore;

      a {
        color: $pattern-blue;

        &:hover {
          color: $twitter-blue;
        }
      }
    }

    label {
      display: none;
    }

    input,
    textarea {
      @extend .sizing;
      @include fade;
      @include placeholder_color($white);
      @include any('opacity' , '1');
      border: none;
      background-color: $twitter-blue;
      color: $white;
      font: 14px $multicolore;
      padding: 10px 20px 10px 10px;
      margin-bottom: 5px;

        @media only screen and (max-width: $tablet) {
          width: 100%;
        }

      &:focus {
        background-color: $pattern-blue;
      }

      &#url {
        display: none;
      }
    }

    textarea {
      width: 60%;

        @media only screen and (max-width: $tablet) {
          width: 100%;
        }
    }

    input#submit {
      background-color: $dark-gray;
      padding: 10px 20px;

        @media only screen and (max-width: $tablet) {
          width: 50%;
        }

        @media only screen and (max-width: $mobile) {
          width: 90%;
          display: block;
          margin: 0 auto 20px;
        }

      &:hover {
        background-color: $pattern-blue;
      }
    }

  }

} // single

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}
