// Colors
	$main: #ffc000;
	$link: #ff0000;
	$link-hover: #1e296e;

	$black-opace: rgba(0,0,0, .75);
	$black: #000;

	$brown: #bb4141;
	$dark-brown: #712a2a;

	$light-gray-2: #ccc;
	$light-gray:	#fbfbfb;
	$dark-gray: #414141;
	$some-gray: #e3e3e3;

	$pattern-blue: #38b9b5;
	$pattern-blue-opace: rgba($pattern-blue , .90);
	$dark-blue: 		#335554;
	$twitter-blue: 	#2ca8d2;

	$transparent: transparent;

	$red-blood:		#cc0033;
	$green:				#00945e;

	$white: #fff;

// End Colors
