// Imports
	@import '_variables';
// END Imports

// Extends
	.normal {
	    float: left;
	    width: 100%;
	    height: auto;
	}

	.normal-box {
	    width: $large;
	    margin: 0 auto;

	    @media only screen and (max-width: $large) {
	    	width: 90%;
	    }
	}

	.normal-second {
		float: left;
		width: 100%;
	}

	.back {
		background-repeat: no-repeat;
		background-image: $sprite;
	}

	.sizing {
		-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
				box-sizing: border-box;
	}

	.reset-sel {
        -webkit-appearance: none;
        -webkit-border-radius: 0;
        -moz-appearance: none;
        text-indent: .01px;
        text-overflow: '';
        background-image: $arrow;
        background-position: 95% center;
        background-repeat: no-repeat;
	}

	.hover-instagram {
		filter: brightness(80%) grayscale(1) contrast(90%);
		-webkit-filter: brightness(80%) grayscale(1) contrast(90%);
		-moz-filter: brightness(80%) grayscale(1) contrast(90%);
		-o-filter: brightness(80%) grayscale(1) contrast(90%);
		-ms-filter: brightness(80%) grayscale(1) contrast(90%);

		transition: .9s filter ease;
		-webkit-transition: 1s -webkit-filter ease;
		-moz-transition: .9s -moz-filter ease;
		-ms-transition: .9s -ms-filter ease;
		-o-transition: .9s -o-filter ease;

		&:hover {
			filter: brightness(100%) grayscale(0);
			-webkit-filter: brightness(100%) grayscale(0);
			-moz-filter: brightness(100%) grayscale(0);
			-o-filter: brightness(100%) grayscale(0);
			-ms-filter: brightness(100%) grayscale(0);
		}
	}
// END Extends
