// Fonts
	// $fpath: '/oitavo-andar/front/fonts/';
	$fpath : '/wp-content/themes/oitavo-andar/front/fonts/';

	$font: Helvetica, sans-serif;
	$lato: 'Lato', sans-serif;
	$coalhand: 'coalhandlukecoalhandluke', sans-serif;
	$chalk: 'chalk-hand-lettering-shadedRg', sans-serif;
	$multicolore: 'multicolore_regular', sans-serif;

	//Imports
	@import url(http://fonts.googleapis.com/css?family=Lato:400,100,300,700,900);

	@font-face {
	    font-family: 'chalk-hand-lettering-shadedRg';
	    src: url('#{$fpath}/chalk-hand-lettering-shaded_demo-webfont.eot');
	    src: url('#{$fpath}/chalk-hand-lettering-shaded_demo-webfont.eot?#iefix') format('embedded-opentype'),
	         url('#{$fpath}/chalk-hand-lettering-shaded_demo-webfont.woff2') format('woff2'),
	         url('#{$fpath}/chalk-hand-lettering-shaded_demo-webfont.woff') format('woff'),
	         url('#{$fpath}/chalk-hand-lettering-shaded_demo-webfont.ttf') format('truetype'),
	         url('#{$fpath}/chalk-hand-lettering-shaded_demo-webfont.svg#chalk-hand-lettering-shadedRg') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'coalhandlukecoalhandluke';
	    src: url('#{$fpath}/coalhandluke-webfont.eot');
	    src: url('#{$fpath}/coalhandluke-webfont.eot?#iefix') format('embedded-opentype'),
	         url('#{$fpath}/coalhandluke-webfont.woff2') format('woff2'),
	         url('#{$fpath}/coalhandluke-webfont.woff') format('woff'),
	         url('#{$fpath}/coalhandluke-webfont.ttf') format('truetype'),
	         url('#{$fpath}/coalhandluke-webfont.svg#coalhandlukecoalhandluke') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'multicolore_regular';
	    src: url('#{$fpath}/multicolore-webfont.eot');
	    src: url('#{$fpath}/multicolore-webfont.eot?#iefix') format('embedded-opentype'),
	         url('#{$fpath}/multicolore-webfont.woff2') format('woff2'),
	         url('#{$fpath}/multicolore-webfont.woff') format('woff'),
	         url('#{$fpath}/multicolore-webfont.ttf') format('truetype'),
	         url('#{$fpath}/multicolore-webfont.svg#multicolore_regular') format('svg');
	    font-weight: normal;
	    font-style: normal;

	}

	//END Imports

// END Fonts
