@import '_colors';

// Mixins
	@mixin border-radius($radius) {
	  -webkit-border-radius: $radius;
	     -moz-border-radius: $radius;
	      -ms-border-radius: $radius;
	          border-radius: $radius;
	}

	@mixin fade {
        -webkit-transition: all 0.2s linear;
        	-moz-transition: all 0.2s linear;
        		-ms-transition: all 0.2s linear;
        			-o-transition: all 0.2s linear;
        				transition: all 0.2s linear;
	}

	@mixin calc($property, $expression) {
	  #{$property}: -moz-calc(#{$expression});
	  #{$property}: -webkit-calc(#{$expression});
	  #{$property}: calc(#{$expression});
	}

    @mixin any($property, $expression) {
        -moz-#{$property} : #{$expression};
         -webkit-#{$property} : #{$expression};
          -ms-#{$property} : #{$expression};
           -o-#{$property} : #{$expression};
            #{$property} : #{$expression};
    }

	@mixin calcWidth($expression) {
		width: calc( #{$expression} ) !important;
        width: -webkit-calc( #{$expression} ) !important;
        width: -moz-calc( #{$expression} ) !important;
	}

	@mixin placeholder_color($color : $azul) {
		color: $color !important;

        &::-webkit-input-placeholder {
            color: $color;
        }

        &:-moz-placeholder {
            color: $color;
        }

        &::-moz-placeholder {
            color: $color;
        }

        &:-ms-input-placeholder {
            color: $color;
        }
	}

    @mixin transform($property, $expressao) {
    }
// END Mixins
