
// Boxes
	$mobile: 480px;
	$tablet: 768px;
	$large: 1024px;
	$all: 90%;
	$thousand: 1000px;
// END Boxes

	// $path: '/oitavo-andar';
	$path : '/wp-content/themes/oitavo-andar';

	$sprite: url('#{$path}/front/images/sprite.png');
	$arrow: url('#{$path}/front/images/arrow.png');

	$header-cloud: url('#{$path}/front/images/cloud.png');

	$separator: url('#{$path}/front/images/separator.png');

	$logo: url('#{$path}/front/images/logo.png');

	$icons: url('#{$path}/front/images/icons.gif');

	$separator-big: url('#{$path}/front/images/separator-big.png');

	// lightbox single post - url(../img/close.png)
	$close: url('#{$path}/front/images/close.png');
	$loading: url('#{$path}/front/images/loading.gif');
	$prev: url('#{$path}/front/images/prev.png');
	$next: url('#{$path}/front/images/next.png');

	// honey bread page
	$honey-banner: url('#{$path}/front/images/02.jpg');
	$honey-01: url('#{$path}/front/images/bread-01.png');
	$honey-02: url('#{$path}/front/images/bread-02.png');
	$honey-03: url('#{$path}/front/images/bread-03.png');
	$cupcake: url('#{$path}/front/images/cupcake.png');

	// form messages

	$success-icon: url('#{$path}/front/images/success.png');
	$error-icon: url('#{$path}/front/images/error.png');

	$loading: url('#{$path}/front/images/loading.gif');
	$loading-char: url('#{$path}/front/images/loading-char.gif');

// Elements
	$footer-height: 100px;
// END Elements
