@import url(http://fonts.googleapis.com/css?family=Lato:400,100,300,700,900);
@font-face {
  font-family: 'chalk-hand-lettering-shadedRg';
  src: url("/wp-content/themes/oitavo-andar/front/fonts//chalk-hand-lettering-shaded_demo-webfont.eot");
  src: url("/wp-content/themes/oitavo-andar/front/fonts//chalk-hand-lettering-shaded_demo-webfont.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/oitavo-andar/front/fonts//chalk-hand-lettering-shaded_demo-webfont.woff2") format("woff2"), url("/wp-content/themes/oitavo-andar/front/fonts//chalk-hand-lettering-shaded_demo-webfont.woff") format("woff"), url("/wp-content/themes/oitavo-andar/front/fonts//chalk-hand-lettering-shaded_demo-webfont.ttf") format("truetype"), url("/wp-content/themes/oitavo-andar/front/fonts//chalk-hand-lettering-shaded_demo-webfont.svg#chalk-hand-lettering-shadedRg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'coalhandlukecoalhandluke';
  src: url("/wp-content/themes/oitavo-andar/front/fonts//coalhandluke-webfont.eot");
  src: url("/wp-content/themes/oitavo-andar/front/fonts//coalhandluke-webfont.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/oitavo-andar/front/fonts//coalhandluke-webfont.woff2") format("woff2"), url("/wp-content/themes/oitavo-andar/front/fonts//coalhandluke-webfont.woff") format("woff"), url("/wp-content/themes/oitavo-andar/front/fonts//coalhandluke-webfont.ttf") format("truetype"), url("/wp-content/themes/oitavo-andar/front/fonts//coalhandluke-webfont.svg#coalhandlukecoalhandluke") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'multicolore_regular';
  src: url("/wp-content/themes/oitavo-andar/front/fonts//multicolore-webfont.eot");
  src: url("/wp-content/themes/oitavo-andar/front/fonts//multicolore-webfont.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/oitavo-andar/front/fonts//multicolore-webfont.woff2") format("woff2"), url("/wp-content/themes/oitavo-andar/front/fonts//multicolore-webfont.woff") format("woff"), url("/wp-content/themes/oitavo-andar/front/fonts//multicolore-webfont.ttf") format("truetype"), url("/wp-content/themes/oitavo-andar/front/fonts//multicolore-webfont.svg#multicolore_regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.normal {
  float: left;
  width: 100%;
  height: auto;
}

.normal-box {
  width: 1024px;
  margin: 0 auto;
}
@media only screen and (max-width: 1024px) {
  .normal-box {
    width: 90%;
  }
}

.normal-second {
  float: left;
  width: 100%;
}

.back {
  background-repeat: no-repeat;
  background-image: url("/wp-content/themes/oitavo-andar/front/images/sprite.png");
}

.sizing, #archive div.posts article, #archive div.posts article footer.info, #archive .author .info {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.reset-sel {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-appearance: none;
  text-indent: .01px;
  text-overflow: '';
  background-image: url("/wp-content/themes/oitavo-andar/front/images/arrow.png");
  background-position: 95% center;
  background-repeat: no-repeat;
}

.hover-instagram {
  filter: brightness(80%) grayscale(1) contrast(90%);
  -webkit-filter: brightness(80%) grayscale(1) contrast(90%);
  -moz-filter: brightness(80%) grayscale(1) contrast(90%);
  -o-filter: brightness(80%) grayscale(1) contrast(90%);
  -ms-filter: brightness(80%) grayscale(1) contrast(90%);
  transition: .9s filter ease;
  -webkit-transition: 1s -webkit-filter ease;
  -moz-transition: .9s -moz-filter ease;
  -ms-transition: .9s -ms-filter ease;
  -o-transition: .9s -o-filter ease;
}
.hover-instagram:hover {
  filter: brightness(100%) grayscale(0);
  -webkit-filter: brightness(100%) grayscale(0);
  -moz-filter: brightness(100%) grayscale(0);
  -o-filter: brightness(100%) grayscale(0);
  -ms-filter: brightness(100%) grayscale(0);
}

#archive h1.title {
  font-size: 38px;
  text-align: center;
  margin: 50px 0;
  color: #414141;
}
#archive div.posts {
  font-size: 0;
  margin-bottom: 80px;
}
#archive div.posts article {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  width: calc( 33.3333% - 10px ) !important;
  width: -webkit-calc( 33.3333% - 10px ) !important;
  width: -moz-calc( 33.3333% - 10px ) !important;
  height: 330px;
  margin: 0 15px 15px 0;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  #archive div.posts article {
    width: calc( 50% - 10px ) !important;
    width: -webkit-calc( 50% - 10px ) !important;
    width: -moz-calc( 50% - 10px ) !important;
  }
}
@media only screen and (max-width: 480px) {
  #archive div.posts article {
    width: calc( 100% ) !important;
    width: -webkit-calc( 100% ) !important;
    width: -moz-calc( 100% ) !important;
    margin-right: 0;
  }
}
#archive div.posts article:nth-child(3n+3) {
  margin-right: 0;
}
@media only screen and (max-width: 768px) {
  #archive div.posts article:nth-child(3n+3) {
    margin-right: 15px;
  }
}
@media only screen and (max-width: 480px) {
  #archive div.posts article:nth-child(3n+3) {
    margin-right: 0;
  }
}
@media only screen and (max-width: 768px) {
  #archive div.posts article:nth-child(2n+2) {
    margin-right: 0;
  }
}
#archive div.posts article a:hover footer.info {
  background-color: #38b9b5;
}
#archive div.posts article img {
  display: block;
  max-width: none;
}
#archive div.posts article header {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 20px;
}
#archive div.posts article footer.info {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  padding: 10px;
  position: absolute;
  bottom: 0;
  color: #fff;
}
#archive div.posts article h1 {
  font-size: 20px;
  color: #fff;
  line-height: 140%;
}
#archive .author {
  margin: 0 0 100px;
}
#archive .author .thumb,
#archive .author .info,
#archive .author ul li {
  display: inline-block;
  vertical-align: top;
}
@media only screen and (max-width: 480px) {
  #archive .author .thumb {
    width: 100%;
    text-align: center;
  }
}
#archive .author img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#archive .author .info {
  width: calc( 100% - 185px ) !important;
  width: -webkit-calc( 100% - 185px ) !important;
  width: -moz-calc( 100% - 185px ) !important;
  text-align: left;
  padding: 0 0 0 20px;
}
@media only screen and (max-width: 480px) {
  #archive .author .info {
    width: calc( 100% ) !important;
    width: -webkit-calc( 100% ) !important;
    width: -moz-calc( 100% ) !important;
    padding: 0;
  }
}
#archive .author .info h1 {
  margin: 0;
  text-align: inherit;
}
#archive .author .info h2 {
  color: #414141;
  font: 14px "Lato", sans-serif;
  width: 80%;
}
@media only screen and (max-width: 480px) {
  #archive .author .info h2 {
    width: 100%;
  }
}
#archive .author .info ul {
  margin-top: 20px;
}

/*# sourceMappingURL=archive.css.map */
