@import url(http://fonts.googleapis.com/css?family=Lato:400,100,300,700,900);
@font-face {
  font-family: 'chalk-hand-lettering-shadedRg';
  src: url("/wp-content/themes/oitavo-andar/front/fonts//chalk-hand-lettering-shaded_demo-webfont.eot");
  src: url("/wp-content/themes/oitavo-andar/front/fonts//chalk-hand-lettering-shaded_demo-webfont.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/oitavo-andar/front/fonts//chalk-hand-lettering-shaded_demo-webfont.woff2") format("woff2"), url("/wp-content/themes/oitavo-andar/front/fonts//chalk-hand-lettering-shaded_demo-webfont.woff") format("woff"), url("/wp-content/themes/oitavo-andar/front/fonts//chalk-hand-lettering-shaded_demo-webfont.ttf") format("truetype"), url("/wp-content/themes/oitavo-andar/front/fonts//chalk-hand-lettering-shaded_demo-webfont.svg#chalk-hand-lettering-shadedRg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'coalhandlukecoalhandluke';
  src: url("/wp-content/themes/oitavo-andar/front/fonts//coalhandluke-webfont.eot");
  src: url("/wp-content/themes/oitavo-andar/front/fonts//coalhandluke-webfont.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/oitavo-andar/front/fonts//coalhandluke-webfont.woff2") format("woff2"), url("/wp-content/themes/oitavo-andar/front/fonts//coalhandluke-webfont.woff") format("woff"), url("/wp-content/themes/oitavo-andar/front/fonts//coalhandluke-webfont.ttf") format("truetype"), url("/wp-content/themes/oitavo-andar/front/fonts//coalhandluke-webfont.svg#coalhandlukecoalhandluke") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'multicolore_regular';
  src: url("/wp-content/themes/oitavo-andar/front/fonts//multicolore-webfont.eot");
  src: url("/wp-content/themes/oitavo-andar/front/fonts//multicolore-webfont.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/oitavo-andar/front/fonts//multicolore-webfont.woff2") format("woff2"), url("/wp-content/themes/oitavo-andar/front/fonts//multicolore-webfont.woff") format("woff"), url("/wp-content/themes/oitavo-andar/front/fonts//multicolore-webfont.ttf") format("truetype"), url("/wp-content/themes/oitavo-andar/front/fonts//multicolore-webfont.svg#multicolore_regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.normal {
  float: left;
  width: 100%;
  height: auto;
}

.normal-box {
  width: 1024px;
  margin: 0 auto;
}
@media only screen and (max-width: 1024px) {
  .normal-box {
    width: 90%;
  }
}

.normal-second {
  float: left;
  width: 100%;
}

.back, .contact #contact-form form#form-contact .error span.signal,
.contact #contact-form form#form-contact .success span.signal {
  background-repeat: no-repeat;
  background-image: url("/wp-content/themes/oitavo-andar/front/images/sprite.png");
}

.sizing, .contact #contact-form form#form-contact input,
.contact #contact-form form#form-contact textarea, .contact #contact-form form#form-contact .error,
.contact #contact-form form#form-contact .success {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.reset-sel {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-appearance: none;
  text-indent: .01px;
  text-overflow: '';
  background-image: url("/wp-content/themes/oitavo-andar/front/images/arrow.png");
  background-position: 95% center;
  background-repeat: no-repeat;
}

.hover-instagram {
  filter: brightness(80%) grayscale(1) contrast(90%);
  -webkit-filter: brightness(80%) grayscale(1) contrast(90%);
  -moz-filter: brightness(80%) grayscale(1) contrast(90%);
  -o-filter: brightness(80%) grayscale(1) contrast(90%);
  -ms-filter: brightness(80%) grayscale(1) contrast(90%);
  transition: .9s filter ease;
  -webkit-transition: 1s -webkit-filter ease;
  -moz-transition: .9s -moz-filter ease;
  -ms-transition: .9s -ms-filter ease;
  -o-transition: .9s -o-filter ease;
}
.hover-instagram:hover {
  filter: brightness(100%) grayscale(0);
  -webkit-filter: brightness(100%) grayscale(0);
  -moz-filter: brightness(100%) grayscale(0);
  -o-filter: brightness(100%) grayscale(0);
  -ms-filter: brightness(100%) grayscale(0);
}

.contact .post-content p {
  word-break: break-word;
}
.contact #contact-form form#form-contact {
  position: relative;
}
.contact #contact-form form#form-contact .load {
  margin: 0;
  right: inherit;
}
.contact #contact-form form#form-contact .ca-has-error {
  border-color: red !important;
}
.contact #contact-form form#form-contact input,
.contact #contact-form form#form-contact textarea,
.contact #contact-form form#form-contact button {
  border: 1px solid;
  border-color: transparent;
  color: #fff;
  padding: 10px 20px 10px 10px;
  display: block;
  margin-bottom: 5px;
}
.contact #contact-form form#form-contact input,
.contact #contact-form form#form-contact textarea {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -moz-opacity: 1;
  -webkit-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
  color: #fff !important;
  background-color: #2ca8d2;
  font: 14px "multicolore_regular", sans-serif;
}
.contact #contact-form form#form-contact input::-webkit-input-placeholder,
.contact #contact-form form#form-contact textarea::-webkit-input-placeholder {
  color: #fff;
}
.contact #contact-form form#form-contact input:-moz-placeholder,
.contact #contact-form form#form-contact textarea:-moz-placeholder {
  color: #fff;
}
.contact #contact-form form#form-contact input::-moz-placeholder,
.contact #contact-form form#form-contact textarea::-moz-placeholder {
  color: #fff;
}
.contact #contact-form form#form-contact input:-ms-input-placeholder,
.contact #contact-form form#form-contact textarea:-ms-input-placeholder {
  color: #fff;
}
.contact #contact-form form#form-contact input:focus,
.contact #contact-form form#form-contact textarea:focus {
  background-color: #38b9b5;
}
.contact #contact-form form#form-contact input {
  width: 40%;
}
@media (max-width: 480px) {
  .contact #contact-form form#form-contact input {
    width: 100%;
  }
}
.contact #contact-form form#form-contact textarea {
  width: 60%;
  height: 150px;
}
@media (max-width: 480px) {
  .contact #contact-form form#form-contact textarea {
    width: 100%;
  }
}
.contact #contact-form form#form-contact button {
  background-color: #414141;
  padding: 10px 20px;
}
.contact #contact-form form#form-contact button:hover {
  background-color: #38b9b5;
}
.contact #contact-form form#form-contact .error,
.contact #contact-form form#form-contact .success {
  background-repeat: no-repeat;
  background-position: left center;
  height: 30px;
  padding-left: 30px;
  font: 12px "multicolore_regular", sans-serif;
  position: relative;
  margin: 30px 0;
}
.contact #contact-form form#form-contact .error .messages > span,
.contact #contact-form form#form-contact .success .messages > span {
  display: block;
}
.contact #contact-form form#form-contact .error span.signal,
.contact #contact-form form#form-contact .success span.signal {
  position: absolute;
  top: -4px;
  left: 6px;
}
.contact #contact-form form#form-contact .signal-red {
  width: 18px;
  height: 19px;
  background-position: -388px -432px;
}
.contact #contact-form form#form-contact .signal-green {
  width: 21px;
  height: 18px;
  background-position: -386px -458px;
}
.contact #contact-form form#form-contact .error {
  color: #cc0033;
  background-image: url("/wp-content/themes/oitavo-andar/front/images/error.png");
}
.contact #contact-form form#form-contact .success {
  color: #00945e;
  background-image: url("/wp-content/themes/oitavo-andar/front/images/success.png");
  padding-top: 10px;
}

/*# sourceMappingURL=contact.css.map */
