@import url(http://fonts.googleapis.com/css?family=Lato:400,100,300,700,900);
@font-face {
  font-family: 'chalk-hand-lettering-shadedRg';
  src: url("/wp-content/themes/oitavo-andar/front/fonts//chalk-hand-lettering-shaded_demo-webfont.eot");
  src: url("/wp-content/themes/oitavo-andar/front/fonts//chalk-hand-lettering-shaded_demo-webfont.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/oitavo-andar/front/fonts//chalk-hand-lettering-shaded_demo-webfont.woff2") format("woff2"), url("/wp-content/themes/oitavo-andar/front/fonts//chalk-hand-lettering-shaded_demo-webfont.woff") format("woff"), url("/wp-content/themes/oitavo-andar/front/fonts//chalk-hand-lettering-shaded_demo-webfont.ttf") format("truetype"), url("/wp-content/themes/oitavo-andar/front/fonts//chalk-hand-lettering-shaded_demo-webfont.svg#chalk-hand-lettering-shadedRg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'coalhandlukecoalhandluke';
  src: url("/wp-content/themes/oitavo-andar/front/fonts//coalhandluke-webfont.eot");
  src: url("/wp-content/themes/oitavo-andar/front/fonts//coalhandluke-webfont.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/oitavo-andar/front/fonts//coalhandluke-webfont.woff2") format("woff2"), url("/wp-content/themes/oitavo-andar/front/fonts//coalhandluke-webfont.woff") format("woff"), url("/wp-content/themes/oitavo-andar/front/fonts//coalhandluke-webfont.ttf") format("truetype"), url("/wp-content/themes/oitavo-andar/front/fonts//coalhandluke-webfont.svg#coalhandlukecoalhandluke") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'multicolore_regular';
  src: url("/wp-content/themes/oitavo-andar/front/fonts//multicolore-webfont.eot");
  src: url("/wp-content/themes/oitavo-andar/front/fonts//multicolore-webfont.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/oitavo-andar/front/fonts//multicolore-webfont.woff2") format("woff2"), url("/wp-content/themes/oitavo-andar/front/fonts//multicolore-webfont.woff") format("woff"), url("/wp-content/themes/oitavo-andar/front/fonts//multicolore-webfont.ttf") format("truetype"), url("/wp-content/themes/oitavo-andar/front/fonts//multicolore-webfont.svg#multicolore_regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.normal {
  float: left;
  width: 100%;
  height: auto;
}

.normal-box {
  width: 1024px;
  margin: 0 auto;
}
@media only screen and (max-width: 1024px) {
  .normal-box {
    width: 90%;
  }
}

.normal-second {
  float: left;
  width: 100%;
}

.back {
  background-repeat: no-repeat;
  background-image: url("/wp-content/themes/oitavo-andar/front/images/sprite.png");
}

.sizing, #home header#banner .item, #home header#banner .item article div.info {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.reset-sel {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-appearance: none;
  text-indent: .01px;
  text-overflow: '';
  background-image: url("/wp-content/themes/oitavo-andar/front/images/arrow.png");
  background-position: 95% center;
  background-repeat: no-repeat;
}

.hover-instagram, #home section#instagram figure img {
  filter: brightness(80%) grayscale(1) contrast(90%);
  -webkit-filter: brightness(80%) grayscale(1) contrast(90%);
  -moz-filter: brightness(80%) grayscale(1) contrast(90%);
  -o-filter: brightness(80%) grayscale(1) contrast(90%);
  -ms-filter: brightness(80%) grayscale(1) contrast(90%);
  transition: .9s filter ease;
  -webkit-transition: 1s -webkit-filter ease;
  -moz-transition: .9s -moz-filter ease;
  -ms-transition: .9s -ms-filter ease;
  -o-transition: .9s -o-filter ease;
}
.hover-instagram:hover, #home section#instagram figure img:hover {
  filter: brightness(100%) grayscale(0);
  -webkit-filter: brightness(100%) grayscale(0);
  -moz-filter: brightness(100%) grayscale(0);
  -o-filter: brightness(100%) grayscale(0);
  -ms-filter: brightness(100%) grayscale(0);
}

#home section#all {
  padding: 180px 0 0 0;
}
#home header#banner {
  font-size: 0;
}
#home header#banner .item {
  display: inline-block;
  vertical-align: middle;
  width: calc( 50% - 15px ) !important;
  width: -webkit-calc( 50% - 15px ) !important;
  width: -moz-calc( 50% - 15px ) !important;
  font-size: 12px;
}
#home header#banner .item:first-child {
  margin-right: 30px;
}
@media only screen and (max-width: 540px) {
  #home header#banner .item {
    width: calc( 100% ) !important;
    width: -webkit-calc( 100% ) !important;
    width: -moz-calc( 100% ) !important;
    padding: 0;
  }
  #home header#banner .item:first-child {
    margin-bottom: 30px;
    margin-right: 0;
  }
}
#home header#banner .item article {
  position: relative;
  overflow: hidden;
}
#home header#banner .item article:first-child {
  margin-bottom: 30px;
}
#home header#banner .item article.bigger {
  height: 350px;
}
@media only screen and (max-width: 768px) {
  #home header#banner .item article.bigger {
    height: auto;
  }
}
#home header#banner .item article.smallest {
  height: 320px;
}
@media only screen and (max-width: 768px) {
  #home header#banner .item article.smallest {
    height: auto;
  }
}
#home header#banner .item article > a {
  display: block;
}
#home header#banner .item article > a:hover div.info {
  background-color: #38b9b5;
}
#home header#banner .item article > a:hover div.flag {
  background-color: transparent;
  color: #38b9b5;
}
#home header#banner .item article div.flag,
#home header#banner .item article div.info {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  position: absolute;
}
#home header#banner .item article div.flag {
  right: 0;
  text-transform: uppercase;
  font: 18px "multicolore_regular", sans-serif;
  color: #fff;
  padding: 10px 20px;
}
#home header#banner .item article .cat-blue {
  background-color: #38b9b5;
}
#home header#banner .item article div.info {
  width: 100%;
  padding: 10px;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  font: 12px "coalhandlukecoalhandluke", sans-serif;
  color: #fff;
}
#home aside div.insta-posts {
  display: none;
}
#home section#instagram {
  display: none;
}
#home section#instagram .insta-bye {
  display: none !important;
}
#home section#instagram header {
  text-align: center;
}
#home section#instagram h1 {
  font-size: 54px;
  line-height: 100%;
  margin: 30px 0;
  display: inline-block;
  position: relative;
}
#home section#instagram h1 span {
  display: block;
}
#home section#instagram span.insta-bg {
  position: absolute;
  left: -50px;
  top: -moz-calc(50% - (33px / 2));
  top: -webkit-calc(50% - (33px / 2));
  top: calc(50% - (33px / 2));
}
#home section#instagram ul {
  font-size: 0;
}
#home section#instagram ul li {
  display: inline-block;
  vertical-align: middle;
  width: 25%;
}
@media only screen and (max-width: 768px) {
  #home section#instagram ul li {
    width: 50%;
  }
}
@media only screen and (max-width: 480px) {
  #home section#instagram ul li {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  #home section#instagram ul li.insta-out {
    display: none;
  }
}

/*# sourceMappingURL=home.css.map */
