@import url(http://fonts.googleapis.com/css?family=Lato:400,100,300,700,900);
@font-face {
  font-family: 'chalk-hand-lettering-shadedRg';
  src: url("/wp-content/themes/oitavo-andar/front/fonts//chalk-hand-lettering-shaded_demo-webfont.eot");
  src: url("/wp-content/themes/oitavo-andar/front/fonts//chalk-hand-lettering-shaded_demo-webfont.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/oitavo-andar/front/fonts//chalk-hand-lettering-shaded_demo-webfont.woff2") format("woff2"), url("/wp-content/themes/oitavo-andar/front/fonts//chalk-hand-lettering-shaded_demo-webfont.woff") format("woff"), url("/wp-content/themes/oitavo-andar/front/fonts//chalk-hand-lettering-shaded_demo-webfont.ttf") format("truetype"), url("/wp-content/themes/oitavo-andar/front/fonts//chalk-hand-lettering-shaded_demo-webfont.svg#chalk-hand-lettering-shadedRg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'coalhandlukecoalhandluke';
  src: url("/wp-content/themes/oitavo-andar/front/fonts//coalhandluke-webfont.eot");
  src: url("/wp-content/themes/oitavo-andar/front/fonts//coalhandluke-webfont.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/oitavo-andar/front/fonts//coalhandluke-webfont.woff2") format("woff2"), url("/wp-content/themes/oitavo-andar/front/fonts//coalhandluke-webfont.woff") format("woff"), url("/wp-content/themes/oitavo-andar/front/fonts//coalhandluke-webfont.ttf") format("truetype"), url("/wp-content/themes/oitavo-andar/front/fonts//coalhandluke-webfont.svg#coalhandlukecoalhandluke") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'multicolore_regular';
  src: url("/wp-content/themes/oitavo-andar/front/fonts//multicolore-webfont.eot");
  src: url("/wp-content/themes/oitavo-andar/front/fonts//multicolore-webfont.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/oitavo-andar/front/fonts//multicolore-webfont.woff2") format("woff2"), url("/wp-content/themes/oitavo-andar/front/fonts//multicolore-webfont.woff") format("woff"), url("/wp-content/themes/oitavo-andar/front/fonts//multicolore-webfont.ttf") format("truetype"), url("/wp-content/themes/oitavo-andar/front/fonts//multicolore-webfont.svg#multicolore_regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.normal {
  float: left;
  width: 100%;
  height: auto;
}

.normal-box {
  width: 1024px;
  margin: 0 auto;
}
@media only screen and (max-width: 1024px) {
  .normal-box {
    width: 90%;
  }
}

.normal-second, #honey main.honey-banner, #honey article {
  float: left;
  width: 100%;
}

.back {
  background-repeat: no-repeat;
  background-image: url("/wp-content/themes/oitavo-andar/front/images/sprite.png");
}

.sizing, #honey article, #honey article.honey-third button, #honey section#honey-contact .box-hcontact, #honey section#honey-contact .box-hcontact input[type=text],
#honey section#honey-contact .box-hcontact input[type=email] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.reset-sel {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-appearance: none;
  text-indent: .01px;
  text-overflow: '';
  background-image: url("/wp-content/themes/oitavo-andar/front/images/arrow.png");
  background-position: 95% center;
  background-repeat: no-repeat;
}

.hover-instagram {
  filter: brightness(80%) grayscale(1) contrast(90%);
  -webkit-filter: brightness(80%) grayscale(1) contrast(90%);
  -moz-filter: brightness(80%) grayscale(1) contrast(90%);
  -o-filter: brightness(80%) grayscale(1) contrast(90%);
  -ms-filter: brightness(80%) grayscale(1) contrast(90%);
  transition: .9s filter ease;
  -webkit-transition: 1s -webkit-filter ease;
  -moz-transition: .9s -moz-filter ease;
  -ms-transition: .9s -ms-filter ease;
  -o-transition: .9s -o-filter ease;
}
.hover-instagram:hover {
  filter: brightness(100%) grayscale(0);
  -webkit-filter: brightness(100%) grayscale(0);
  -moz-filter: brightness(100%) grayscale(0);
  -o-filter: brightness(100%) grayscale(0);
  -ms-filter: brightness(100%) grayscale(0);
}

#honey form#honey-form {
  position: relative;
}
#honey .form-messages {
  font: 12px "multicolore_regular", sans-serif;
}
#honey .success {
  color: #00945e;
}
#honey .error {
  color: #cc0033;
}
#honey main.honey-banner {
  margin-bottom: 50px;
  height: 390px;
  display: table;
  background-image: url("/wp-content/themes/oitavo-andar/front/images/02.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font: 30px "Lato", sans-serif;
  font-weight: 100;
  text-align: center;
}
#honey main.honey-banner h1 {
  font-weight: 100;
}
#honey main.honey-banner h1 > span {
  display: block;
}
#honey article {
  padding: 0 50px 20px;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 768px) {
  #honey article {
    padding: 0 20px 20px;
  }
}
@media only screen and (max-width: 768px) {
  #honey article {
    height: auto !important;
    background-image: none !important;
  }
}
#honey article .item {
  font: 18px "Lato", sans-serif;
  color: #414141;
  font-weight: 100;
}
@media only screen and (max-width: 768px) {
  #honey article .item {
    padding: 0 !important;
    width: 100% !important;
  }
}
#honey article .item-left {
  float: left;
}
#honey article .item-right {
  float: right;
}
#honey article p {
  display: block;
  margin-bottom: 20px;
}
#honey article.honey-first {
  background-image: url("/wp-content/themes/oitavo-andar/front/images/bread-01.png");
  background-position: 10% center;
  height: 240px;
  background-size: 20%;
  padding-top: 25px;
}
#honey article.honey-first .item {
  width: 60%;
  padding-right: 10%;
}
#honey article.honey-second {
  background-image: url("/wp-content/themes/oitavo-andar/front/images/bread-02.png");
  background-size: 41%;
  background-position: 120% center;
  height: 500px;
}
#honey article.honey-second .item {
  width: 70%;
  padding-top: 5%;
}
#honey article.honey-third {
  background-image: url("/wp-content/themes/oitavo-andar/front/images/bread-03.png");
  background-size: 55%;
  background-position: -25% center;
  height: 450px;
}
#honey article.honey-third .item {
  width: 55%;
  padding-top: 5%;
}
#honey article.honey-third button {
  color: #fff;
  font: 20px "multicolore_regular", sans-serif;
  padding: 10px 30px;
  background-color: #bb4141;
  border: 0;
}
#honey article.honey-third button:hover {
  background-color: #712a2a;
}
#honey section#honey-contact {
  z-index: 9999;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  text-align: center;
}
#honey section#honey-contact h3 {
  color: #fff;
  font-size: 40px;
}
#honey section#honey-contact article {
  width: inherit;
  height: inherit;
  display: table;
}
#honey section#honey-contact .box-hcontact {
  min-height: 220px;
  margin: 0 auto;
  background-color: #e3e3e3;
  width: 90%;
  padding: 50px 30px;
  background-image: url("/wp-content/themes/oitavo-andar/front/images/cupcake.png");
  background-repeat: no-repeat;
  background-position: 95% center;
}
@media (min-width: 1024px) {
  #honey section#honey-contact .box-hcontact {
    width: 680px;
  }
}
#honey section#honey-contact .box-hcontact .answer {
  margin: 10px 0;
}
#honey section#honey-contact .box-hcontact label {
  font-size: 13px;
}
#honey section#honey-contact .box-hcontact input,
#honey section#honey-contact .box-hcontact button {
  font: 13px "multicolore_regular", sans-serif;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border: 0;
}
#honey section#honey-contact .box-hcontact input[type=text],
#honey section#honey-contact .box-hcontact input[type=email] {
  color: #000 !important;
  -moz-opacity: 1;
  -webkit-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
  padding: 5px 10px;
  margin: 5px 0;
}
#honey section#honey-contact .box-hcontact input[type=text]::-webkit-input-placeholder,
#honey section#honey-contact .box-hcontact input[type=email]::-webkit-input-placeholder {
  color: #000;
}
#honey section#honey-contact .box-hcontact input[type=text]:-moz-placeholder,
#honey section#honey-contact .box-hcontact input[type=email]:-moz-placeholder {
  color: #000;
}
#honey section#honey-contact .box-hcontact input[type=text]::-moz-placeholder,
#honey section#honey-contact .box-hcontact input[type=email]::-moz-placeholder {
  color: #000;
}
#honey section#honey-contact .box-hcontact input[type=text]:-ms-input-placeholder,
#honey section#honey-contact .box-hcontact input[type=email]:-ms-input-placeholder {
  color: #000;
}
#honey section#honey-contact .box-hcontact input[type=text]:focus,
#honey section#honey-contact .box-hcontact input[type=email]:focus {
  background-color: #38b9b5;
}
#honey section#honey-contact .box-hcontact input[type=text]#user_name,
#honey section#honey-contact .box-hcontact input[type=email]#user_name {
  padding: 5px;
  text-align: center;
  display: block;
  margin: 0 auto 20px;
}
#honey section#honey-contact .box-hcontact input[type=text]#user_email, #honey section#honey-contact .box-hcontact input[type=text]#user_phone,
#honey section#honey-contact .box-hcontact input[type=email]#user_email,
#honey section#honey-contact .box-hcontact input[type=email]#user_phone {
  display: none;
}
#honey section#honey-contact .box-hcontact button {
  background-color: transparent;
  padding: 10px 0;
}
#honey section#honey-contact .box-hcontact button:hover {
  color: #414141;
}

/*# sourceMappingURL=honey.css.map */
