@import url(http://fonts.googleapis.com/css?family=Lato:400,100,300,700,900);
@font-face {
  font-family: 'chalk-hand-lettering-shadedRg';
  src: url("/wp-content/themes/oitavo-andar/front/fonts//chalk-hand-lettering-shaded_demo-webfont.eot");
  src: url("/wp-content/themes/oitavo-andar/front/fonts//chalk-hand-lettering-shaded_demo-webfont.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/oitavo-andar/front/fonts//chalk-hand-lettering-shaded_demo-webfont.woff2") format("woff2"), url("/wp-content/themes/oitavo-andar/front/fonts//chalk-hand-lettering-shaded_demo-webfont.woff") format("woff"), url("/wp-content/themes/oitavo-andar/front/fonts//chalk-hand-lettering-shaded_demo-webfont.ttf") format("truetype"), url("/wp-content/themes/oitavo-andar/front/fonts//chalk-hand-lettering-shaded_demo-webfont.svg#chalk-hand-lettering-shadedRg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'coalhandlukecoalhandluke';
  src: url("/wp-content/themes/oitavo-andar/front/fonts//coalhandluke-webfont.eot");
  src: url("/wp-content/themes/oitavo-andar/front/fonts//coalhandluke-webfont.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/oitavo-andar/front/fonts//coalhandluke-webfont.woff2") format("woff2"), url("/wp-content/themes/oitavo-andar/front/fonts//coalhandluke-webfont.woff") format("woff"), url("/wp-content/themes/oitavo-andar/front/fonts//coalhandluke-webfont.ttf") format("truetype"), url("/wp-content/themes/oitavo-andar/front/fonts//coalhandluke-webfont.svg#coalhandlukecoalhandluke") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'multicolore_regular';
  src: url("/wp-content/themes/oitavo-andar/front/fonts//multicolore-webfont.eot");
  src: url("/wp-content/themes/oitavo-andar/front/fonts//multicolore-webfont.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/oitavo-andar/front/fonts//multicolore-webfont.woff2") format("woff2"), url("/wp-content/themes/oitavo-andar/front/fonts//multicolore-webfont.woff") format("woff"), url("/wp-content/themes/oitavo-andar/front/fonts//multicolore-webfont.ttf") format("truetype"), url("/wp-content/themes/oitavo-andar/front/fonts//multicolore-webfont.svg#multicolore_regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.normal {
  float: left;
  width: 100%;
  height: auto;
}

.normal-box {
  width: 1024px;
  margin: 0 auto;
}
@media only screen and (max-width: 1024px) {
  .normal-box {
    width: 90%;
  }
}

.normal-second {
  float: left;
  width: 100%;
}

.back {
  background-repeat: no-repeat;
  background-image: url("/wp-content/themes/oitavo-andar/front/images/sprite.png");
}

.sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.reset-sel {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-appearance: none;
  text-indent: .01px;
  text-overflow: '';
  background-image: url("/wp-content/themes/oitavo-andar/front/images/arrow.png");
  background-position: 95% center;
  background-repeat: no-repeat;
}

.hover-instagram {
  filter: brightness(80%) grayscale(1) contrast(90%);
  -webkit-filter: brightness(80%) grayscale(1) contrast(90%);
  -moz-filter: brightness(80%) grayscale(1) contrast(90%);
  -o-filter: brightness(80%) grayscale(1) contrast(90%);
  -ms-filter: brightness(80%) grayscale(1) contrast(90%);
  transition: .9s filter ease;
  -webkit-transition: 1s -webkit-filter ease;
  -moz-transition: .9s -moz-filter ease;
  -ms-transition: .9s -ms-filter ease;
  -o-transition: .9s -o-filter ease;
}
.hover-instagram:hover {
  filter: brightness(100%) grayscale(0);
  -webkit-filter: brightness(100%) grayscale(0);
  -moz-filter: brightness(100%) grayscale(0);
  -o-filter: brightness(100%) grayscale(0);
  -ms-filter: brightness(100%) grayscale(0);
}

@media (max-width: 480px) {
  #search article.normal-post {
    width: calc( 100% ) !important;
    width: -webkit-calc( 100% ) !important;
    width: -moz-calc( 100% ) !important;
    margin-right: 0 !important;
  }
}
#search .search-result {
  color: #38b9b5;
}
#search .normal-box {
  font-size: 0;
}
#search .no-results p {
  font: 18px "multicolore_regular", sans-serif;
  color: #38b9b5;
  margin: 5px 0;
}
#search .no-results form input,
#search .no-results form button {
  -moz-opacity: 1;
  -webkit-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
  color: #fff !important;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  color: #fff;
  font: 15px "multicolore_regular", sans-serif;
  border: none;
  padding: 15px 20px;
}
#search .no-results form input::-webkit-input-placeholder,
#search .no-results form button::-webkit-input-placeholder {
  color: #fff;
}
#search .no-results form input:-moz-placeholder,
#search .no-results form button:-moz-placeholder {
  color: #fff;
}
#search .no-results form input::-moz-placeholder,
#search .no-results form button::-moz-placeholder {
  color: #fff;
}
#search .no-results form input:-ms-input-placeholder,
#search .no-results form button:-ms-input-placeholder {
  color: #fff;
}
#search .no-results form input:focus,
#search .no-results form button:focus {
  background-color: #414141;
}
#search .no-results form input {
  background-color: #38b9b5;
  margin-right: 5px;
}
#search .no-results form button {
  background-color: #414141;
}
#search .no-results form button:hover {
  background-color: #38b9b5;
}

/*# sourceMappingURL=search.css.map */
