@import url(http://fonts.googleapis.com/css?family=Lato:400,100,300,700,900);
@font-face {
  font-family: 'chalk-hand-lettering-shadedRg';
  src: url("/wp-content/themes/oitavo-andar/front/fonts//chalk-hand-lettering-shaded_demo-webfont.eot");
  src: url("/wp-content/themes/oitavo-andar/front/fonts//chalk-hand-lettering-shaded_demo-webfont.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/oitavo-andar/front/fonts//chalk-hand-lettering-shaded_demo-webfont.woff2") format("woff2"), url("/wp-content/themes/oitavo-andar/front/fonts//chalk-hand-lettering-shaded_demo-webfont.woff") format("woff"), url("/wp-content/themes/oitavo-andar/front/fonts//chalk-hand-lettering-shaded_demo-webfont.ttf") format("truetype"), url("/wp-content/themes/oitavo-andar/front/fonts//chalk-hand-lettering-shaded_demo-webfont.svg#chalk-hand-lettering-shadedRg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'coalhandlukecoalhandluke';
  src: url("/wp-content/themes/oitavo-andar/front/fonts//coalhandluke-webfont.eot");
  src: url("/wp-content/themes/oitavo-andar/front/fonts//coalhandluke-webfont.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/oitavo-andar/front/fonts//coalhandluke-webfont.woff2") format("woff2"), url("/wp-content/themes/oitavo-andar/front/fonts//coalhandluke-webfont.woff") format("woff"), url("/wp-content/themes/oitavo-andar/front/fonts//coalhandluke-webfont.ttf") format("truetype"), url("/wp-content/themes/oitavo-andar/front/fonts//coalhandluke-webfont.svg#coalhandlukecoalhandluke") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'multicolore_regular';
  src: url("/wp-content/themes/oitavo-andar/front/fonts//multicolore-webfont.eot");
  src: url("/wp-content/themes/oitavo-andar/front/fonts//multicolore-webfont.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/oitavo-andar/front/fonts//multicolore-webfont.woff2") format("woff2"), url("/wp-content/themes/oitavo-andar/front/fonts//multicolore-webfont.woff") format("woff"), url("/wp-content/themes/oitavo-andar/front/fonts//multicolore-webfont.ttf") format("truetype"), url("/wp-content/themes/oitavo-andar/front/fonts//multicolore-webfont.svg#multicolore_regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.normal {
  float: left;
  width: 100%;
  height: auto;
}

.normal-box {
  width: 1024px;
  margin: 0 auto;
}
@media only screen and (max-width: 1024px) {
  .normal-box {
    width: 90%;
  }
}

.normal-second, #single ol.commentlist, #single section.comments,
#single div#respond, #single form#commentform {
  float: left;
  width: 100%;
}

.back {
  background-repeat: no-repeat;
  background-image: url("/wp-content/themes/oitavo-andar/front/images/sprite.png");
}

.sizing, #single article .author .thumb,
#single article .author .info, #single article.normal-post .info, #single form#commentform input,
#single form#commentform textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.reset-sel {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-appearance: none;
  text-indent: .01px;
  text-overflow: '';
  background-image: url("/wp-content/themes/oitavo-andar/front/images/arrow.png");
  background-position: 95% center;
  background-repeat: no-repeat;
}

.hover-instagram {
  filter: brightness(80%) grayscale(1) contrast(90%);
  -webkit-filter: brightness(80%) grayscale(1) contrast(90%);
  -moz-filter: brightness(80%) grayscale(1) contrast(90%);
  -o-filter: brightness(80%) grayscale(1) contrast(90%);
  -ms-filter: brightness(80%) grayscale(1) contrast(90%);
  transition: .9s filter ease;
  -webkit-transition: 1s -webkit-filter ease;
  -moz-transition: .9s -moz-filter ease;
  -ms-transition: .9s -ms-filter ease;
  -o-transition: .9s -o-filter ease;
}
.hover-instagram:hover {
  filter: brightness(100%) grayscale(0);
  -webkit-filter: brightness(100%) grayscale(0);
  -moz-filter: brightness(100%) grayscale(0);
  -o-filter: brightness(100%) grayscale(0);
  -ms-filter: brightness(100%) grayscale(0);
}

#single .post-content img {
  height: auto;
}
#single .c-author-post {
  margin-bottom: 50px;
}
#single .c-author-info {
  padding-left: 10px;
  margin-bottom: 0 !important;
}
#single .c-author-info h2 {
  margin: 10px 0;
}
@media (max-width: 480px) {
  #single .fb-comments {
    display: none;
  }
}
#single section#all .list-posts {
  margin-bottom: 50px;
}
#single h3.simple-title {
  font-size: 26px;
  color: #414141;
}
#single article#post .post-content {
  margin-bottom: 50px;
}
#single article#post .post-content > * {
  margin: 10px 0 20px;
}
#single article#post .post-content h1,
#single article#post .post-content h2,
#single article#post .post-content h3,
#single article#post .post-content h4,
#single article#post .post-content h5,
#single article#post .post-content h6 {
  font-family: "coalhandlukecoalhandluke", sans-serif;
  color: #414141;
  line-height: 120%;
}
#single article#post .post-content iframe {
  width: 100%;
  height: 30vw;
  border: none;
}
@media only screen and (max-width: 768px) {
  #single article#post .post-content iframe {
    height: 50vw;
  }
}
#single article#post .post-content p {
  font: 14px "Lato", sans-serif;
  color: #414141;
  line-height: 130%;
}
#single article#post .post-content p a {
  font: 12px "multicolore_regular", sans-serif;
  color: #38b9b5;
}
#single article#post .post-content p a:hover {
  color: #414141;
}
#single article .author section {
  font-size: 0;
}
#single article .author h2 {
  line-height: 120%;
  color: #414141;
}
#single article .author ul li {
  display: inline-block;
}
#single article .author .thumb,
#single article .author .info {
  display: inline-block;
}
@media only screen and (max-width: 480px) {
  #single article .author .thumb {
    width: 100%;
    text-align: center;
  }
}
#single article .author .info {
  font-size: 12px;
  width: calc( 100% - 175px ) !important;
  width: -webkit-calc( 100% - 175px ) !important;
  width: -moz-calc( 100% - 175px ) !important;
}
@media only screen and (max-width: 480px) {
  #single article .author .info {
    width: calc( 100% ) !important;
    width: -webkit-calc( 100% ) !important;
    width: -moz-calc( 100% ) !important;
  }
}
#single article.normal-post {
  width: calc( 50% - 13px ) !important;
  width: -webkit-calc( 50% - 13px ) !important;
  width: -moz-calc( 50% - 13px ) !important;
  margin-right: 20px;
}
@media only screen and (max-width: 480px) {
  #single article.normal-post {
    width: calc( 100% ) !important;
    width: -webkit-calc( 100% ) !important;
    width: -moz-calc( 100% ) !important;
    margin-right: 0;
  }
}
#single article.normal-post:last-child {
  margin-right: 0;
}
#single .comment-subscription-form .subscribe-label {
  display: inline !important;
  font: 10px "multicolore_regular", sans-serif;
}
#single cite {
  font-style: normal;
  color: #2ca8d2;
}
#single ol.commentlist {
  margin: 50px 0 30px;
  list-style-position: inside;
  list-style: none;
}
#single ol.commentlist > li {
  margin-bottom: 30px;
}
#single ol.commentlist ul.children {
  list-style: inherit;
  margin: 10px;
}
#single ol.commentlist img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#single ol.commentlist .commentmetadata {
  margin-bottom: 10px;
}
#single ol.commentlist .reply {
  margin-top: 10px;
}
#single ol.commentlist p {
  color: #414141;
  font: 12px "Lato", sans-serif;
}
#single ol.commentlist a {
  font: 12px "multicolore_regular", sans-serif;
  color: #2ca8d2;
}
#single ol.commentlist a:hover {
  color: #414141;
}
#single ol.commentlist .comment-author.vcard {
  font: 13px "multicolore_regular", sans-serif;
}
#single ol.commentlist .comment-author.vcard > * {
  display: inline-block;
  vertical-align: middle;
}
#single .comment-awaiting-moderation {
  display: block;
  color: #ccc;
  font: 13px "multicolore_regular", sans-serif;
  margin: 20px 0 0;
}
#single h3#comments {
  display: none;
}
#single section.comments {
  margin-top: 50px;
}
#single div#respond {
  margin-top: 50px;
}
#single div#respond > h3 {
  font: 24px "multicolore_regular", sans-serif;
  margin: 0 0 20px;
  color: #414141;
}
#single form#commentform {
  display: none;
}
#single form#commentform > p:first-child {
  margin: 5px 0;
  font: 12px "multicolore_regular", sans-serif;
}
#single form#commentform > p:first-child a {
  color: #38b9b5;
}
#single form#commentform > p:first-child a:hover {
  color: #2ca8d2;
}
#single form#commentform label {
  display: none;
}
#single form#commentform input,
#single form#commentform textarea {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  color: #fff !important;
  -moz-opacity: 1;
  -webkit-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
  border: none;
  background-color: #2ca8d2;
  color: #fff;
  font: 14px "multicolore_regular", sans-serif;
  padding: 10px 20px 10px 10px;
  margin-bottom: 5px;
}
#single form#commentform input::-webkit-input-placeholder,
#single form#commentform textarea::-webkit-input-placeholder {
  color: #fff;
}
#single form#commentform input:-moz-placeholder,
#single form#commentform textarea:-moz-placeholder {
  color: #fff;
}
#single form#commentform input::-moz-placeholder,
#single form#commentform textarea::-moz-placeholder {
  color: #fff;
}
#single form#commentform input:-ms-input-placeholder,
#single form#commentform textarea:-ms-input-placeholder {
  color: #fff;
}
@media only screen and (max-width: 768px) {
  #single form#commentform input,
  #single form#commentform textarea {
    width: 100%;
  }
}
#single form#commentform input:focus,
#single form#commentform textarea:focus {
  background-color: #38b9b5;
}
#single form#commentform input#url,
#single form#commentform textarea#url {
  display: none;
}
#single form#commentform textarea {
  width: 60%;
}
@media only screen and (max-width: 768px) {
  #single form#commentform textarea {
    width: 100%;
  }
}
#single form#commentform input#submit {
  background-color: #414141;
  padding: 10px 20px;
}
@media only screen and (max-width: 768px) {
  #single form#commentform input#submit {
    width: 50%;
  }
}
@media only screen and (max-width: 480px) {
  #single form#commentform input#submit {
    width: 90%;
    display: block;
    margin: 0 auto 20px;
  }
}
#single form#commentform input#submit:hover {
  background-color: #38b9b5;
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/*# sourceMappingURL=single.css.map */
